/* Body */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    box-sizing: border-box;
}

/* Estilos para el diseño de Halloween */
body.halloween {
    background-color: #000000;
}

/* Animación de parpadeo rápido */
@keyframes parpadeo-rapido {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Aplicar la animación de parpadeo a body cuando tiene la clase "halloween" */
body.halloween {
    animation: parpadeo-rapido 0.2s infinite;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Navbar */

.nav {
    margin: -96px 0 0 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav.down {
    border-bottom: 1px solid rgba(128, 128, 128, 0.086);
    height: 16%;
}

.ul {
    float: right;
}

#abrir {
    display: none;
}

#cerrar {
    display: none;
}

nav ul {
    padding: 0 10px 0 10px;
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 15px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 0 0 25px 25px;
    transition: 0.5s;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: rgb(113, 113, 113);
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

nav ul li:hover {
    background-color: #38b6ff;
}

nav ul .li-rr:hover.hallowen {
    background-color: #ffa601af;
}

nav ul li a:hover {
    color: white;
}

.logo-img {
    width: 150px;
}

.space-right {
    float: left;
    margin-right: auto;
}

.logo-img-res1 {
    display: none;
}

.space-right,
.logo-img-res:hover {
    background-color: white;
}

.hov {
    transition: 0s;
}

.hov:hover {
    background-color: #ffffff;
}

.singin {
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #38b6ff;
    transition: 0.5s;
}

.singin.hallowen {
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #400096;
    transition: 0.5s;
}

.singin a.hallowen {
    color: #ffa801 !important;
}

.reg {
    color: #38b6ff;
    transition: 0.5s;
}

.reg:hover {
    transform: scale(1.2);
    color: #38b6ff;
}

.singin:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

/* Inicio */

.banner {
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 80px;
    background-image: url("../img/bg-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Nosotros */

.content-1 {
    width: 100%;
    height: 400px;
    position: relative;
}

.hallowen-img.hallowen {
    position: absolute;
    width: 20%;
    height: 395px;
    background-image: url("../img/murcielagos.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.hallowen-img2.hallowen {
    position: absolute;
    width: 20%;
    height: 395px;
    background-image: url("../img/muñeco-calabaza.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
}

.tittle-1 {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #38b6ff;
    border: 2px solid rgba(129, 179, 243, 0.5);
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-1.hallowen {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #400096;
    border: 2px solid rgba(129, 179, 243, 0.5);
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tittle-2 {
    margin: 50px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tittle-3 {
    margin: 10px auto 0 auto;
    border-radius: 30px;
    width: 810px;
    height: 180px;
    display: flex;
    justify-content: start;
    text-align: justify;
    color: rgba(113, 113, 113, 0.468);
}

.line-1 {
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #38b6ff;
}

.line-1.hallowen {
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #400096;
}

.line-2 {
    color: rgb(113, 113, 113);
    margin-right: 15px;
    font-weight: bold;
    font-size: 28px;
}

.line-3 {
    width: 180px;
    height: 5px;
    border-radius: 3px;
    background-color: #38b6ff;
}

.line-3.hallowen {
    width: 180px;
    height: 5px;
    border-radius: 3px;
    background-color: #400096;
}

.white-1 {
    color: #ffffff;
    font-style: italic;
}

.white-1.hallowen {
    color: #ffa801 !important;
    font-style: italic;
}

/* Rutas de aprendizaje */

.spider-image.hallowen {
    position: absolute;
    height: 648px;
    width: 255px;
    background-image: url("../img/spider.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.spider-image2.hallowen {
    position: absolute;
    height: 543px;
    width: 255px;
    background-image: url("../img/spider.png");
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    z-index: -1;
}

.content-2 {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #38b6ff;
}

.content-2.hallowen {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/happyhallowen.jpg") !important;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
}

.responsive {
    margin: 0 -100px 0 -180px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-2 img.hallowen {
    height: 100%;
    z-index: auto;
}

.content-2-1 {
    width: 100%;
    height: 220px;
    position: relative;
}

.card {
    width: 180px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c2-img1 {
    width: 130px;
}

.c2-img2 {
    width: 168px;
}

.c2-img3 {
    width: 110px;
}

.c2-img4 {
    width: 170px;
}

.c2-img5 {
    width: 125px;
}

.white-2 {
    color: #ffffff;
}

.t2 {
    margin-top: -20px;
}

.tittle-4 {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tittle-5 {
    margin: -5px auto 0 auto;
    border-radius: 30px;
    width: 910px;
    height: 60px;
    display: flex;
    justify-content: start;
}

.tittle-6 {
    margin: -20px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    text-align: justify;
}

.line-4 {
    width: 385px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(
        to right,
        rgb(129, 243, 237),
        rgba(149, 255, 0, 0.441)
    );
}

.line-4.hallowen {
    width: 385px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(to right, #8c52ff, #ff914d);
}

.t4-t1 {
    font-size: 30px;
}

.capsule {
    position: relative;
    width: 100%;
    height: 400px;
}

.col1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    margin: 50px;
    width: 370px;
    height: 150px;
}

.cp-img {
    z-index: 5;
    width: 150px;
}

.cp-bar {
    width: 350px;
    height: 100px;
    margin: -125px 0 0 60px;
    border-radius: 50px;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgb(139, 139, 139);
}

.cp-bar.hallowen {
    width: 350px;
    height: 100px;
    margin: -125px 0 0 60px;
    border-radius: 50px;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #400096;
}

.cp-t1 {
    color: #ffffff;
    margin-left: 40px;
}

/* Tipos de usuarios */
.users {
    width: 100%;
    height: 600px;
    position: relative;
    background: linear-gradient(
        to bottom,
        white,
        #5afef4,
        #5afef4,
        #5afef4,
        #5afef4,
        white
    );
}

.users.hallowen {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("../img/morado-hallowen.jpg") !important;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
    padding-top: 10px;
}

.tittle-7 {
    margin: 10px auto 0 auto;
    border-radius: 30px;
    width: 35%;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tittle-7.hallowen {
    background-color: #0000009c;
    font-weight: bold;
    color: white;
}

.col3 {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col3.hallowen {
    margin-top: 30px;
}

.card3 {
    margin: 50px;
    width: 250px;
    height: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(129, 179, 243, 0.5);
    background-color: #ffffff;
}

.card3.hallowen {
    margin: 75px;
    width: 280px;
    height: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    /* border: 2px solid rgba(129, 179, 243, 0.5);
    background-color: #ffffff;*/
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
    padding-top: 35px;
    border: none;
}

.us-img {
    width: 100px;
    margin-top: 15px;
}

.circle {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #38b6ff;
}

.circle.hallowen {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #400096;
}

.us-bar {
    width: 150px;
    height: 5px;
    margin-top: -10px;
    border-radius: 20px;
    background-color: #38b6ff;
}

.us-bar.hallowen {
    width: 150px;
    height: 5px;
    margin-top: -10px;
    border-radius: 20px;
    background-color: #ffa801;
}

.us-tx {
    width: 75%;
    text-align: justify;
}

.us-tx.hallowen {
    width: 65%;
    text-align: justify;
}

.us-tx1 {
    margin-top: 5px;
}

.us-tx1.hallowen {
    margin-top: 10px;
}

.btn-sub {
    cursor: pointer;
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #38b6ff;
    transition: 0.5s;
}

.btn-sub.hallowen {
    cursor: pointer;
    width: 135px;
    height: 34px;
    border-radius: 20px;
    background-color: #ffa801;
    transition: 0.5s;
}

.btn-sub:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

/* Prueba gratuita */

.demo {
    position: fixed;
    display: flex;
    width: 5%;
    height: 10%;
    right: 3%;
    bottom: 5%;
    border-radius: 50px;
    background-color: #38b6ff;
    z-index: 10;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 55px;
}

.demo:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.hand {
    animation-name: hand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes hand {
    0% {
        transform: rotate(-45deg);
        margin: 0 10px 0 -5px;
    }
    50% {
        transform: rotate(45deg);
        margin: 0 -10px 0 -5px;
    }
    100% {
        transform: rotate(-45deg);
        margin: 0 10px 0 -5px;
    }
}

.demo-text {
    margin-top: -130px;
    border-radius: 30px;
    text-align: center;
    color: rgb(113, 113, 113);
    width: 200px;
    position: fixed;
    font-size: 18px;
    font-weight: bolder;
    scale: 0%;
    animation-name: alert;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

@keyframes alert {
    0% {
        scale: 0%;
    }
    1.25% {
        scale: 110%;
    }
    2.5% {
        scale: 100%;
    }

    25% {
        transform: rotate(0deg);
    }
    25.5% {
        transform: rotate(-10deg);
    }
    26% {
        transform: rotate(10deg);
    }
    26.5% {
        transform: rotate(-10deg);
    }
    27% {
        transform: rotate(10deg);
    }
    27.5% {
        transform: rotate(-10deg);
    }
    28% {
        transform: rotate(10deg);
    }
    28.5% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(0deg);
    }
    75.5% {
        transform: rotate(-10deg);
    }
    76% {
        transform: rotate(10deg);
    }
    76.5% {
        transform: rotate(-10deg);
    }
    77% {
        transform: rotate(10deg);
    }
    77.5% {
        transform: rotate(-10deg);
    }
    78% {
        transform: rotate(10deg);
    }
    78.5% {
        transform: rotate(0deg);
    }

    87.5% {
        scale: 100%;
    }
    88.25% {
        scale: 110%;
    }
    90% {
        scale: 0%;
    }
    100% {
        scale: 0%;
    }
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.hallowen {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    color: white;
}

.f-card1 {
    width: 300px;
    height: 100%;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-tx {
    width: 260px;
    text-align: justify;
}

.f-tx1 {
    margin-top: -10px;
}

.a-f {
    text-decoration: none;
    color: black;
}

.a-f.hallowen {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.f-card {
    width: 300px;
    height: 100%;
    margin: 0 5px 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.f-space {
    margin-top: 30px;
}

.f-space h5 i.hallowen {
    color: #ffa801 !important;
}

.logo-f-img {
    width: 250px;
}

.bottom {
    width: 100%;
    height: 40px;
    background-color: #38b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom.hallowen {
    width: 100%;
    height: 40px;
    background-color: #400096;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bottom b.hallowen {
    color: #ffa801;
}

/* Estilos para la transicion de HALLOWEN */

/* Animación de parpadeo rápido en negro */

/* Responsive */

.menu,
.close,
.log-resp {
    display: none;
}

#check {
    display: block;
}
@media screen and (max-width: 500px) {
    /* .menu,
    .close {
        display: block;
    }

    .nav.down {
        height: 100%;
    }

    .nav {
        visibility: hidden;
        width: 100%;
        height: 110%;
    }

    .close {
        font-size: 50px;
    }

    .visible {
        visibility: visible;
    }

    .invisible {
        visibility: hidden;
    }

    .space-right {
        margin: 0 0 0 15px;
    }

    nav ul li:hover {
        background-color: #ffffff;
    }
    nav ul li a:hover {
        color: #38b6ff;
    } */

    .logo-img-res {
        display: none;
    }

    .logo-img-res1 {
        display: block;
        margin: 0 0 0 -15%;
    }

    .nav {
        width: 100%;
        height: 0;
    }

    .space-right {
        background-color: #38b6ff;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 22% 0 0 0;
        margin-left: -5%;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transition: 0.5s;
        left: -110%;
    }

    .li-rr {
        padding: 20px;
    }

    nav ul li {
        font-size: 30px;
    }

    .menu {
        display: block;
        font-size: 40px;
        margin: 0 -10% 0 0;
    }

    #abrir {
        display: block;
    }

    #cerrar {
        display: none;
    }

    nav ul li:hover {
        background-color: #ffffff;
    }
    nav ul li a:hover {
        color: #38b6ff;
    }

    body {
        width: 100%;
        box-sizing: content-box;
        overflow: none;
    }

    body::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    body::-webkit-scrollbar:vertical {
        display: none;
    }

    body::-webkit-scrollbar-button:increment,
    body::-webkit-scrollbar-button {
        display: none;
    }

    body::-webkit-scrollbar:horizontal {
        display: none;
    }

    body::-webkit-scrollbar-thumb {
        display: none;
    }

    body::-webkit-scrollbar-track {
        display: none;
    }

    /* Banner */
    .banner {
        width: 100%;
        height: 200px;
    }

    /* Nosotros */
    .content-1 {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .tittle-1 {
        margin: 30px auto 0 auto;
        width: 90%;
        height: 40px;
        font-size: 6px;
    }

    .tittle-2 {
        margin: 30px auto 0 auto;
        width: 95%;
        height: 40px;
    }

    .tittle-3 {
        width: 90%;
        height: 180px;
        text-align: justify;
        font-size: 15px;
    }

    .line-1 {
        width: 30px;
    }

    .line-2 {
        font-size: 20px;
    }

    .line-3 {
        width: 235px;
    }

    /* Rutas de aprendizaje */

    .content-2 {
        width: 100%;
        height: 350px;
        display: block;
    }

    .responsive {
        width: 100%;
        margin: 0;
    }

    .card {
        margin: 15px 0 0 0;
        float: left;
        width: 33.3%;
        height: 50%;
    }

    .white-2,
    .t2 {
        font-size: 20px;
        width: 100%;
    }

    .c2-img1 {
        width: 50%;
    }

    .c2-img2 {
        width: 66%;
    }

    .c2-img3 {
        width: 44%;
    }

    .c2-img4 {
        width: 58%;
    }

    .c2-img5 {
        width: 44%;
    }

    .tittle-4 {
        margin: 0 auto 0 auto;
        width: 100%;
        height: 60px;
        justify-content: center;
    }

    .tittle-5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .tittle-6 {
        margin: -30px auto 0 auto;
        width: 90%;
        height: 60px;
        font-size: 12px;
    }

    .line-4 {
        width: 90%;
    }

    .t4-t1 {
        font-size: 25px;
    }

    .capsule {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .col1 {
        height: 300px;
        flex-direction: column;
    }

    .col2 {
        margin-top: -75px;
        height: 300px;
        flex-direction: column;
    }

    .card2 {
        margin: -30px 0 0 -40px;
        width: 370px;
        height: 150px;
        scale: 80%;
    }

    /* Tipos de usuarios */
    .users {
        width: 100%;
        height: 1450px;
    }

    .tittle-7 {
        width: 100%;
    }

    .col3 {
        width: 100%;
        height: 1350px;
        flex-direction: column;
    }

    .card3 {
        margin: 0 0 50px 0;
    }

    /* Footer */

    .footer {
        width: 100%;
        height: 800px;
        flex-direction: column;
    }

    .f-card1 {
        width: 100%;
        height: 200px;
    }
    .f-card {
        width: 100%;
        height: 200px;
    }
}
