/* Body */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    box-sizing: border-box;
}
 
  /* Estilos para el diseño de Halloween */
  body.halloween {
    background-color: #000000;
 
  }
  
  /* Animación de parpadeo rápido */
  @keyframes parpadeo-rapido {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;

    }
  }
  
  /* Aplicar la animación de parpadeo a body cuando tiene la clase "halloween" */
  body.halloween {
    animation: parpadeo-rapido 0.2s infinite;
  }
  
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Navbar */

.nav {
    margin: -96px 0 0 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav.down {
    border-bottom: 1px solid rgba(128, 128, 128, 0.086);
    height: 16%;
}

nav ul {
    padding: 0 10px 0 10px;
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 15px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 0 0 25px 25px;
    transition: 0.5s;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: rgb(113, 113, 113);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li:hover {
    background-color: #38b6ff;
}

nav ul .li-rr:hover.hallowen {
    background-color: #ffa601af;
}


nav ul li a:hover {
    color: white;
}

.logo-img {
    width: 150px;
}

.space-right {
    margin-right: auto;
}

.space-right:hover {
    background-color: white;
}

.hov {
    transition: 0s;
}

.hov:hover {
    background-color: #ffffff;
}

.singin {
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #38b6ff;
    transition: 0.5s;
}

.singin.hallowen{
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #400096;
    transition: 0.5s;
}

.singin a.hallowen{
    color: #FFA801 !important;
   }

.reg {
    color: #38b6ff;
    transition: 0.5s;
}

.reg:hover {
    transform: scale(1.2);
    color: #38b6ff;
}

.singin:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

/* Inicio */

.banner {
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 80px;
    background-image: url("../img/bg-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Nosotros */

.content-1 {
    width: 100%;
    height: 400px;
    position: relative;
}

.hallowen-img.hallowen{
    position: absolute;
    width: 20%;
    height: 395px;
    background-image: url("../img/murcielagos.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.hallowen-img2.hallowen{
    position: absolute;
    width: 20%;
    height: 395px;
    background-image: url("../img/muñeco-calabaza.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
}


.tittle-1 {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #38b6ff;
    border: 2px solid rgba(129, 179, 243, 0.5);
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-1.hallowen {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #400096;
    border: 2px solid rgba(129, 179, 243, 0.5);
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tittle-2 {
    margin: 50px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tittle-3 {
    margin: 10px auto 0 auto;
    border-radius: 30px;
    width: 810px;
    height: 180px;
    display: flex;
    justify-content: start;
    text-align: justify;
    color: rgba(113, 113, 113, 0.468);
}

.line-1 {
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #38b6ff;
}

.line-1.hallowen {
    width: 30px;
    height: 5px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #400096;
}

.line-2 {
    color: rgb(113, 113, 113);
    margin-right: 15px;
    font-weight: bold;
    font-size: 28px;
}

.line-3 {
    width: 180px;
    height: 5px;
    border-radius: 3px;
    background-color: #38b6ff;
}

.line-3.hallowen {
    width: 180px;
    height: 5px;
    border-radius: 3px;
    background-color: #400096;
}

.white-1 {
    color: #ffffff;
    font-style: italic;
}

.white-1.hallowen {
    color: #FFA801 !important;
    font-style: italic;
}

/* Rutas de aprendizaje */

.spider-image.hallowen{
    position: absolute;
    height: 648px;
    width: 255px;
    background-image: url("../img/spider.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.spider-image2.hallowen{
    position: absolute;
    height: 543px;
    width: 255px;
    background-image: url("../img/spider.png");
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    z-index: -1;
}

.content-2 {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38b6ff;
}

.content-2.hallowen {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/happyhallowen.jpg") !important;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
}

.content-2 img.hallowen{
    height: 100%;
    z-index: auto;
}

.content-2-1 {
    width: 100%;
    height: 220px;
    position: relative;
}

.card {
    width: 180px;
    margin: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c2-img1 {
    width: 130px;
}

.c2-img2 {
    width: 168px;
}

.c2-img3 {
    width: 110px;
}

.c2-img4 {
    width: 170px;
}

.c2-img5 {
    width: 125px;
}

.white-2 {
    color: #ffffff;
}

.t2 {
    margin-top: -20px;
}

.tittle-4 {
    margin: 30px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tittle-5 {
    margin: -5px auto 0 auto;
    border-radius: 30px;
    width: 910px;
    height: 60px;
    display: flex;
    justify-content: start;
}

.tittle-6 {
    margin: -20px auto 0 auto;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: start;
    text-align: justify;
}

.line-4 {
    width: 385px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(
        to right,
        rgb(129, 243, 237),
        rgba(149, 255, 0, 0.441)
    );
}

.line-4.hallowen {
    width: 385px;
    height: 5px;
    border-radius: 3px;
    background: linear-gradient(
        to right,
        #8C52FF,
        #FF914D
    );
}

.t4-t1 {
    font-size: 30px;
}

.capsule {
    position: relative;
    width: 100%;
    height: 400px;
}

.col1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col2 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    margin: 50px;
    width: 370px;
    height: 150px;
}

.cp-img {
    z-index: 5;
    width: 150px;
}

.cp-bar {
    width: 350px;
    height: 100px;
    margin: -125px 0 0 60px;
    border-radius: 50px;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgb(139, 139, 139);
}

.cp-bar.hallowen {
    width: 350px;
    height: 100px;
    margin: -125px 0 0 60px;
    border-radius: 50px;
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: #400096;
}

.cp-t1 {
    color: #ffffff;
    margin-left: 40px;
}

/* Tipos de usuarios */
.users {
    width: 100%;
    height: 600px;
    position: relative;
    background: linear-gradient(
        to bottom,
        white,
        #5afef4,
        #5afef4,
        #5afef4,
        #5afef4,
        white
    );
}

.users.hallowen {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("../img/morado-hallowen.jpg") !important;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el elemento */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
    padding-top: 10px;
}

.tittle-7 {
    margin: 10px auto 0 auto;
    border-radius: 30px;
    width: 35%;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.tittle-7.hallowen {
   background-color: #0000009c;
   font-weight: bold;
   color: white;
}

.col3 {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col3.hallowen {
    margin-top: 30px;
}

.card3 {
    margin: 50px;
    width: 250px;
    height: 380px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(129, 179, 243, 0.5);
    background-color: #ffffff;
}

.card3.hallowen {
    margin: 75px;
    width: 280px;
    height: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
   /* border: 2px solid rgba(129, 179, 243, 0.5);
    background-color: #ffffff;*/
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
    padding-top: 35px;
    border: none;
}

.us-img {
    width: 100px;
    margin-top: 15px;
}

.circle {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #38b6ff;
}

.circle.hallowen {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #400096;
}

.us-bar {
    width: 150px;
    height: 5px;
    margin-top: -10px;
    border-radius: 20px;
    background-color: #38b6ff;
}

.us-bar.hallowen {
    width: 150px;
    height: 5px;
    margin-top: -10px;
    border-radius: 20px;
    background-color: #FFA801;
}

.us-tx {
    width: 75%;
    text-align: justify;
}

.us-tx.hallowen {
    width: 65%;
    text-align: justify;
}

.us-tx1 {
    margin-top: 5px;
}

.us-tx1.hallowen {
    margin-top: 10px;
}

.btn-sub {
    cursor: pointer;
    width: 120px;
    height: 25px;
    border-radius: 20px;
    background-color: #38b6ff;
    transition: 0.5s;
}

.btn-sub.hallowen {
    cursor: pointer;
    width: 135px;
    height: 34px;
    border-radius: 20px;
    background-color: #FFA801;
    transition: 0.5s;
}

.btn-sub:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer.hallowen {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020202;
    color: white;
}

.f-card1 {
    width: 300px;
    height: 100%;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-tx {
    width: 260px;
    text-align: justify;
}

.f-tx1 {
    margin-top: -10px;
}

.a-f {
    text-decoration: none;
    color: black;
}

.a-f.hallowen {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.f-card {
    width: 300px;
    height: 100%;
    margin: 0 5px 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.f-space {
    margin-top: 30px;
}

.f-space h5 i.hallowen{
    color: #FFA801 !important;
}

.logo-f-img {
    width: 250px;
}

.bottom {
    width: 100%;
    height: 40px;
    background-color: #38b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom.hallowen {
    width: 100%;
    height: 40px;
    background-color: #400096;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bottom b.hallowen {
    color: #FFA801;
}


/* Estilos para la transicion de HALLOWEN */

 /* Animación de parpadeo rápido en negro */

  


/* Responsive */

.menu,
.close,
.log-resp {
    display: none;
}

@media screen and (max-width: 500px) {
    .menu,
    .close {
        display: block;
    }

    .nav.down {
        height: 110%;
    }

    .nav {
        visibility: hidden;
        max-width: 500px;
        height: 110%;
    }

    .menu {
        margin: -65px 300px 0 0;
        font-size: 50px;
    }

    .close {
        font-size: 50px;
    }

    .visible {
        visibility: visible;
    }

    .invisible {
        visibility: hidden;
    }

    .ul {
        flex-direction: column;
        align-items: center;
        margin: 80px 0 0 0;
    }

    .space-right {
        margin: 0 0 0 15px;
    }

    nav ul li:hover {
        background-color: #ffffff;
    }
    nav ul li a:hover {
        color: #38b6ff;
    }

    body {
        overflow-x: hidden;
        max-width: 500px;
        box-sizing: content-box;
    }

    /* Banner */
    .banner {
        width: 100%;
        height: 220px;
    }

    /* Nosotros */
    .content-1 {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .tittle-1 {
        margin: 30px auto 0 auto;
        width: 390px;
        height: 40px;
        font-size: 7px;
    }

    .tittle-2 {
        margin: 30px auto 0 auto;
        width: 390px;
        height: 40px;
    }

    .tittle-3 {
        width: 380px;
        height: 180px;
        text-align: justify;
        font-size: 15px;
    }

    .line-1 {
        width: 30px;
    }

    .line-2 {
        font-size: 20px;
    }

    .line-3 {
        width: 235px;
    }

    /* Rutas de aprendizaje */

    #rutas {
        width: auto;
    }

    .content-2 {
        width: 350%;
        height: 350px;
        margin-left: -145px;
        animation: cambio 15s infinite alternate linear;
        scale: 80%;
    }

    @keyframes cambio {
        0% {
            margin-left: -150px;
        }
        20% {
            margin-left: -300px;
        }
        40% {
            margin-left: -450px;
        }
        60% {
            margin-left: -600px;
        }
        80% {
            margin-left: -750px;
        }
        100% {
            margin-left: -900px;
        }
    }

    .content-2-1 {
        width: 100%;
        height: 220px;
        position: relative;
    }

    .card {
        margin: 50px;
    }

    .tittle-4 {
        margin: 0 auto 0 auto;
        width: 390px;
        height: 60px;
        justify-content: center;
    }

    .tittle-5 {
        margin: -5px 0 0 70px;
    }

    .tittle-6 {
        margin: -30px auto 0 auto;
        width: 380px;
        height: 60px;
        font-size: 12px;
    }

    .line-4 {
        width: 320px;
    }

    .t4-t1 {
        font-size: 25px;
    }

    .capsule {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .col1 {
        height: 300px;
        flex-direction: column;
    }

    .col2 {
        margin-top: -75px;
        height: 300px;
        flex-direction: column;
    }

    .card2 {
        margin: -30px 0 0 -40px;
        width: 370px;
        height: 150px;
        scale: 80%;
    }

    /* Tipos de usuarios */
    .users {
        width: 100%;
        height: 1450px;
    }

    .tittle-7 {
        width: 390px;
    }

    .col3 {
        height: 1350px;
        flex-direction: column;
    }

    .card3 {
        margin: 0 0 50px 0;
    }

    /* Footer */

    .footer {
        height: 800px;
        flex-direction: column;
    }

    .f-card1 {
        width: 300px;
        height: 200px;

    }
    .f-card {
        width: 300px;
        height: 200px;
    }
}