:root{
    --mcol0:rgba(61, 172, 244, 0.6);
    --mcol1:#2196F3;
    --mcol2:#1976D2;
    --txtcol0:#90A4AE;
    --txtcol1:rgb(61, 171, 244);
    --whitecol:#ECEFF1;
    --darkcol:#263238;
}


body{
    color: #404040;
    font-family: Tahoma;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items:center;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.titulo-gen {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 1200px;
    height: 60px;
}

.titulo {
    display: flex;
    justify-content: center;
}

#puzzle_container{
    position: relative;
    width: 50vh;
    height:50vh;
    background-color:var(--darkcol);
    border-radius:8px;
    border:5px solid var(--mcol0);
}

.puzzle_block{
    position:absolute;
    left:0;
    top:0;
    width:33.4%;
    height:33.4%;
    background-color:var(--txtcol1);
    color:var(--whitecol);
    font-size:10vh;
    font-weight:bold;
    cursor: pointer;
    user-select:none;
    transition:left 0.3s,top 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-img {
    width: 103px;
    height: 103px;
}

.slide-contenedor {
    width: 1200px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#difficulty_container{
    display:flex;
    flex-direction:row;
    width:50vh;
    height:10vh;
    background-color:var(--darkcol);
    border-radius:8px;
    margin-top:22px;
}
.difficulty_button{
    flex-grow:1;
    background-color:inherit;
    color:var(--mcol2);
    text-align:center;
    font-size:3vh;
    font-weight:bold;
    padding-top:5%;
    margin:4px;
    cursor: pointer;
    transition:font-size 0.3s;
}
.difficulty_button:hover{
    opacity:0.8;
    font-size:3.5vh;
}
.difficulty_button.active{
    background-color:inherit;
    color:var(--mcol0);
}
.timer {
    text-align: center;
    padding: 3%;
    margin: 40px 0 0 1050px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(129, 179, 243, 0.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    position: fixed;
    border-radius: 90px;
    z-index: 5;
    font-size: 150%;
}
@keyframes animation1 {
    0% {margin: 40px 0 0 1070px;}
    20% {margin: 40px 0 0 1080px;}
    40% {margin: 40px 0 0 1070px;} 
    60% {margin: 40px 0 0 1080px;}
    80% {margin: 40px 0 0 1070px;} 
    100% {margin: 40px 0 0 1070px;}
  }
  
  @keyframes animation2 {
    0% {margin: 40px 0 0 1070px;}
    15% {margin: 40px 0 0 1080px;}
    30% {margin: 40px 0 0 1070px;} 
    45% {margin: 40px 0 0 1080px;}
    60% {margin: 40px 0 0 1070px;}
    75% {margin: 40px 0 0 1080px;}
    90% {margin: 40px 0 0 1070px;}
    100% {margin: 40px 0 0 1070px;}
  }

  @keyframes animation3 {
    0% {margin: 40px 0 0 1075px;}
    10% {margin: 40px 0 0 1080px;}
    20% {margin: 40px 0 0 1075px;} 
    30% {margin: 40px 0 0 1080px;}
    40% {margin: 40px 0 0 1075px;} 
    50% {margin: 40px 0 0 1080px;}
    60% {margin: 40px 0 0 1075px;} 
    70% {margin: 40px 0 0 1080px;} 
    80% {margin: 40px 0 0 1075px;} 
    90% {margin: 40px 0 0 1080px;} 
    100% {margin: 40px 0 0 1075px;}
  }
.contenido {
    margin: 20px auto 30px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 1200px;
    height: 500px;
}

.btn-b {
    position: absolute;
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(
        to right,
        rgba(129, 179, 243, 0.8),
        rgba(132, 196, 44, 0.8)
    );
    border: 0px;
    outline: none;
    border-radius: 50%;
    float: right;
}
.btn-b:hover {
    scale: 130%;
    transition: scale 0.35s;
  }
  
  .btn-b:hover::after {
    scale: 100%;
    transition: scale 0.35s;
  }

@media (max-width: 750px) {
    .btn-b {
        width: 10%;
    }
}

.btn-b i {
    font-size: 25px;
}