*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    
  }
  body{
    background-image: url(../../img/img-juegos/bg.png);/*Se cambio el fondo*/
    background-repeat: no-repeat; /*no repite la imagen*/
    background-size: cover;/*distribuye la imagen a toda la pantalla*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
      font-family: Tahoma;
      color: #404040;
  }

  body::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  body::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  body::-webkit-scrollbar-button:increment,
  body::-webkit-scrollbar-button {
    display: none;
  }
  
  body::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  body::-webkit-scrollbar-track {
    border-radius: 10px;
  }


  .titulo-gen {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px rgba(129,179,243);
    line-height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 86%;
    margin: 3% auto;
    height: 70px;
    margin-left: 7%;
    justify-content: center;
}

.titulo {
    display: flex;
    justify-content: center;
}

.timer {
  text-align: center;
  padding: 0.9%;
  top: 4%;
  right: 3%; /*Se cambio el pocisionamiento del timer*/
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(129, 179, 243, 0.7); /*Se cambio el fondo del timer*/
  box-shadow: 0 0 12px rgba(129, 179, 243);
  position: fixed;
  border-radius: 110px;
  z-index: 5;
  font-size: 170%;
}

section {
    padding: 0px;
    width: 86%;
    height: auto; 
    margin-top: 40px;
    margin-left: 7%;
    display: flex;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 12px rgba(129, 179, 243);
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }

.cont-st {
    width: 98%;
    height: 65px;
    display: flex;
    align-items: center;
}

.btn-b {
    width: 70px;
    padding: 10px 10px;
    cursor: pointer;
    background: linear-gradient(
      to right,
      rgba(129, 179, 243),
      rgba(132, 196, 44, 0.6)
    );
    border: 0px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10%;
}

.btn-b i {
    font-size: 25px;
}

.titulo {
    flex-grow: 1;
    text-align: center;
}

.btn-v {
    margin-top: 1%;
    width: 100%;
    height: 120px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.verificar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(to right, rgba(129, 179, 243), rgba(132, 196, 44, 0.6));
    padding: 20px;
    border-radius: 30px;
    border-style: none;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 260px;
    position: relative;
}

/* CSS Seccion juego*/
.mjuego{
    width: 85%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.ejemplo{
    display: flex;
    width: 48%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(129, 178, 243, 0.4);
    border-radius: 20px;
    background-color: rgba(129, 178, 243, 0.2);
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 8px white;
}

.ejemplo p{
    height: 276px;
    width: 480px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 20px;
    margin: 12px 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: rgba(14, 13, 13, 0.534);
    font-stretch: narrower;
    text-align: center;
}

.copia{
    width: 48%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(129, 178, 243, 0.4);
    border-radius: 20px;
    background-color: rgba(129, 178, 243, 0.2);
    box-shadow: 0 0 8px white;
}
#escrito{
    background: transparent;
    text-align: center;
    margin-top: 16%;
}
.texto{
    left: 20px;
    text-align: center;
}

#textoej {
  text-align: start;
}


.mjuego textarea{
    text-align: center;
    height: 260px;
    width: 560px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 20px;
    margin: 12px 6px;
    font-size: 20px;
    padding-top: 12px;
}
/*---------------------*/

.footerimga{
  width: 100%;
  height: 90px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}

.imagen-footer {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 250px !important;

}
@media (max-width: 850px) {

    .timer {
        width: 170px;
        height: 170px;
        font-size: 140%;
    }  

    .mjuego{
        width: 80%;
        height: 700px;
        display: flow-root;
        margin-top: 2%;
        text-align: center;
        align-items: center;  
    }
    
    .ejemplo{
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .copia{
        width: 100%;
    }
    
    
  }


  @media (max-width: 619px) {
  
    
    .verificar {
      width: 180px;
      height: 50px;
    }
  
    .timer {
      width: 120px;
      height: 120px;
      font-size: 120%;
    }
  
    .titulo-gen{
      font-size: 14px;
    }
  
    .titulo{
      font-size: 14px;
    }
  
    .btn-b {
      width: 70px;
      padding: 10px 10px;
      margin-left: 10%;
    }
  
    .btn-b i {
      font-size: 20px;
    }
  }
  
  
  @media (max-width: 549px) {

  
    .html-b-t{
      font-size: 12px;
    }
    .verificar {
      width: 160px;
      height: 50px;
    }
    
  }