html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    box-sizing: border-box;
    height: auto;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

body::after {
    content: "";
    /*background: linear-gradient(to bottom, white 2%, #5afef4, #42fa8f, #0cfefd);*/
    /* background: linear-gradient(
        to bottom,
        white 15%,
        #5afef4,
        #42fa8f,
        #0cfefd
    ); */
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: auto;
}

/* Variables de colores */
:root {
    --azul-principal: #38b6ff;
    --azul-secundario: #38b6ff9a;
    --gris-font: rgb(113, 113, 113);
    --blanco: #ffffff;
    --negro: #000000;
}

/* nav */

nav {
    z-index: 10;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: var(--blanco);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.logo-nav {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.logo-nav img {
    width: 250px;
}

.opt-nav {
    width: 70%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.opt-nav li {
    float: right;
    list-style: none;
    margin: 0 60px 0 60px;
}

.opt-nav a {
    text-decoration: none;
    color: var(--gris-font);
    font-size: 20px;
    font-weight: bolder;
    transition: 0.3s;
}

.opt-nav a:hover {
    color: var(--blanco);
    background-color: var(--azul-principal);
    padding: 40px 15px 10px 15px;
    border-radius: 0 0 20px 20px;
}

#back {
    color: var(--blanco);
    background-color: var(--azul-principal);
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

#back:hover {
    background-color: var(--gris-font);
}

#abrir {
    display: none;
}

#cerrar {
    display: none;
}

/* Pasos para adquirir paquete */

#steps {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 80px 0 0 0;
    background: linear-gradient(
        to bottom,
        white 15%,
        #5afef4,
        #42fa8f,
        #0cfefd,
        white
    );
}

.cont-div {
    float: left;
    width: 35%;
    height: 800px;
    border-radius: 0 0 0 0;
}

.cuadro {
    width: 85%;
    height: 700px;
    border-radius: 0 0 200px 0;
    background-color: #38b6ff75;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro img {
    width: 90%;
}

.cont-info {
    float: left;
    width: 65%;
    height: 800px;
}

.tittle-steps {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-steps {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 22%;
    height: 80%;
    background-color: var(--azul-principal);
    border-radius: 20px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.tittle-steps p {
    color: var(--blanco);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background-color: var(--azul-principal);
    padding: 20px 60px 20px 60px;
    border-radius: 40px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.num {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num i {
    font-size: 100px;
    background-color: var(--blanco);
    color: var(--negro);
    padding: 30px;
    border-radius: 100px;
}

.num-txt {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-txt p {
    color: var(--blanco);
    font-size: 35px;
    font-weight: bolder;
}

.num-info {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.num-info p {
    color: var(--blanco);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

/* Paquete 1*/

.paquete {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 100px 0;
    /* background: linear-gradient(
        to bottom,
        #0cfefd,
        #42fa8f,
        #5afef4
    );; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.sup {
    width: 100%;
    height: 20%;
    background-color: var(--blanco);
}

.centro {
    width: 100%;
    height: 40%;
    background-color: var(--azul-secundario);
}

.inf {
    width: 100%;
    height: 40%;
    background-color: var(--blanco);
    z-index: -1;
}

.img-promo {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 0;
}

#img-izq {
    left: 5%;
}

#txt-izq {
    right: 0;
}

#txt-derecha {
    float: right;
}

#img-der {
    right: 5%;
}

#txt-der {
    left: 0;
}

#txt-izquierda {
    float: left;
}

.precio {
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blanco);
    font-weight: bolder;
    width: 150px;
    height: 150px;
    background-color: var(--gris-font);
}

.precio p {
    font-size: 12px;
}
.precio b {
    color: var(--blanco);
    font-size: 65px;
    text-decoration: line-through;
}

.img-promo img {
    width: 100%;
}

.tiitle-paq {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiitle-paq b {
    font-size: 50px;
    font-weight: bolder;
    color: var(--azul-principal);
}

.tiitle-paq p {
    font-size: 20px;
    font-weight: bolder;
    color: var(--gris-font);
}

.descr {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro-tittle {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro-tittle p {
    text-align: center;
    padding: 0 80px;
    color: var(--negro);
    font-size: 30px;
}

.centro-info {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.izq-c {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.izq-c p {
    margin: 0;
    padding: 0;
    color: var(--negro);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.der-c {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.der-c li {
    color: var(--blanco);
    font-size: 40px;
    font-weight: bolder;
}

.centro-btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro-btn p {
    color: var(--negro);
    background-color: var(--blanco);
    font-size: 20px;
    margin: -10px 0 0 0;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
}

.centro-btn p:hover {
    color: var(--blanco);
    background-color: var(--azul-principal);
}

.cost-p {
    font-size: 18px;
    text-align: center;
    color: var(--gris-font);
    font-weight: bolder;
}

.icons {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comprar {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: var(--blanco);
    background-color: var(--azul-principal);
    padding: 15px 40px;
    border-radius: 50px;
    transition: 0.5s;
}

.comprar a:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.beneficio {
    width: 23%;
    height: 70%;
}

.icon-b {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-b i {
    font-size: 80px;
    color: var(--azul-principal);
}

.text-b {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-b p {
    color: var(--negro);
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}

.division {
    width: 100%;
    height: 150px;
    background: linear-gradient(
        to bottom,
        white,
        #aafdf8,
        #0cfefd,
        #aafdf8,
        white
    );
}

.buen-fin {
    width: 100%;
    height: 300px;
}

.tittle-bf {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-bf p {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    color: var(--blanco);
    background-color: var(--azul-principal);
}

.line-bf {
    width: 100%;
    height: 55%;
    margin: 1% 0;
    background-color: rgb(237, 28, 36);
}

.sup-bf {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;    
}

.inf-bf {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf-bf P {
    font-size: 12px;
    color: var(--blanco); 
    font-weight: bolder;
    padding: 0 0 2px 0;
}

.img-bf {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-bf {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-bf img {
    height: 100%;
}

.txt-bf b, p {
    padding: 20px 0 0 0;
    font-size: 150px;
    color: var(--blanco);
}

.linea-azul {
    top: 35%;
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: -1;
    background-color: var(--azul-secundario);
}

.container-card {
    height: 100%;
    width: 65%;
    float: right;
}

.tittle-card {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-card p {
    color: var(--azul-principal);
    font-weight: bolder;
    padding: 0;
    margin: 0;
    font-size: 60px;
}

.box-card {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paq-card {
    width: 20%;
    height: 75%;
    border-radius: 40px;
    background: linear-gradient(135deg, rgb(184, 81, 253), #42fa8f);
    transition: 0.5s;
}

.paq-card:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.icon-card {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-card i {
    text-align: center;
    color: var(--blanco);
    font-size: 60px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.tittle-card1 {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-card1 p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: var(--blanco);
    font-weight: bolder;
}

.tittle-card2 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p1 {
    margin: 0;
    padding: 0 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: line-through;
    font-size: 15px;
    width: 100%;
    height: 50%;
} 

.p2 {
    margin: 0;
    padding: 0 25px 0 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 15px;
    width: 100%;
    height: 50%;
} 

.tittle-card3 {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-card3 li{
    font-weight: bolder;
    color: var(--blanco);
    font-size: 15px;
}

.tittle-card4 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-card4 p {
    margin: 0;
    padding: 10px 15px;
    border-radius: 50px;
    color: var(--negro);
    background-color: var(--blanco);
    font-size: 20px;
    font-weight: bolder;
    transition: 0.5s;
    cursor: pointer;
}

.tittle-card4 p:hover {
    color: var(--blanco);
    background-color: var(--azul-principal);
}

footer {
    width: 100%;
    height: 50px;
    background-color: var(--azul-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p, b {
    text-align: center;
    color: var(--negro);
    font-size: 20px;
    margin: 0;
    padding: 0;
}
/* Reponsividad */

@media screen and (max-width: 500px) {
    #abrir {
        display: block;
        position: absolute;
        right: 20px;
        top: 30%;
        font-size: 30px;
    }

    .logo-nav {
        width: 50%;
        height: 100%;
        margin-left: 10px;
    }

    .logo-nav img {
        width: 100%;
    }

    .tittle-bf p {
        font-size: 20px;
    }

    .sup-bf {
        height: auto;
    }

    .line-bf {
        height: auto;
    }

    .img-bf{
        width: 100%;
    }

    .img-bf img {
        width: 50%;
    }

    .txt-bf {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .inf-bf {
        height: auto;
    }

    .inf-bf p {
        padding: 0 10px;
        font-size: 10px;
        text-align: center;
    }

    .txt-bf p {
        font-size: 20px;
    }

    .txt-bf b {
        margin: 0 15px;
        font-size: 20px;
    }


    .sup-bf {
        justify-content: center;
        flex-direction: column;
    }

    .container-card {
        width: 100%;
    }

    .linea-azul {
        display: none;
    }

    .tittle-card p {
        font-size: 30px;
    }

    .box-card {
        flex-direction: column;
        height: auto;
    }

    .paq-card {
        margin: 20px 0;
        width: 90%;
        height: 20%;
    }

    .p1, .p2{
        width: 80%;
    }

    .tittle-card3 li {
        text-align: left;
    }

    .icon-card{
        display: none;
    }

    .tittle-card4 p {
        margin: 10px 0;
    }

    #licencia {
        height: 1200px;
    }
    .opt-nav {
        background-color: var(--blanco);
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: -100%;
        transition: 0.5s;
        z-index: 10;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        float: none;
    }

    #cerrar {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
    }

    .opt-nav li {
        margin: 20px 0 20px 0;
    }

    .opt-nav a:hover {
        color: var(--azul-principal);
        background-color: #ffffff00;
        padding: 40px 15px 10px 15px;
        border-radius: 0 0 20px 20px;
    }

    /* Pasos */
    .cont-div {
        display: none;
    }

    .cont-info {
        width: 100%;
    }

    .tittle-steps {
        height: 10%;
    }

    .tittle-steps p {
        padding: 5px 10px;
        font-size: 15px;
    }

    .cont-steps {
        height: 90%;
        flex-direction: column;
    }

    .card {
        height: 22%;
        width: 90%;
    }

    .num {
        float: left;
        height: 100%;
        width: 30%;
    }

    .num i {
        padding: 15px;
        font-size: 50px;
    }

    .num-txt {
        float: left;
        height: 30%;
        width: 70%;
    }

    .num-info {
        height: 70%;
        width: 70%;
    }

    .num-info p {
        font-size: 20px;
    }

    /* Paquete */

    .img-promo {
        top: 48%;
    }

    .img-promo img {
        display: none;
    }
    
    .precio {
        display: none;
    }

    .tiitle-paq, .descr {
        width: 100%;
    }

    .tiitle-paq, .descr p{
        text-align: center;
    }

    .centro-tittle p {
        font-size: 20px;
        padding: 0;
    }

    .izq-c p {
        font-size: 20px;
    }

    .der-c li {
        font-size: 18px;
    }

    .centro-info {
        height: auto;
        flex-direction: column;
    }

    .izq-c {
        width: 100%;
        height: auto;
    }

    .der-c {
        width: 100%;
        height: auto;
    }

    .centro-btn p {
        font-size: 20px;
        height: auto;
    }

    .comprar {
        height: 20%;
    }

    .beneficio {
        width: 90%;
        height: 23%;
    }

    .icon-b {
        width: 10%;
    }

    .icon-b i {
        font-size: 20px;
    }

    .text-b {
        width: 90%;
    }

    .text-b p {
        font-size: 12px;
    }

    .icons {
        height: 80%;
        flex-direction: column;
    }
}
