body{
    color: #404040;
    font-family: Tahoma;
    background-image: url(../../img/img-juegos/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items:center;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.titulo-gen {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 1200px;
    height: 60px;
    border: 2px solid rgba(129, 179, 243, 0.6);
    
}

.titulo {
    display: flex;
    justify-content: center;
}

.timer {
    text-align: center;
    padding: 3%;
    margin: 40px 0 0 1050px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgba(129, 179, 243, 0.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    position: fixed;
    border-radius: 90px;
    z-index: 5;
    font-size: 150%;
}

.contenido {
    opacity: 0.9;
    margin: 20px auto 30px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255);
    line-height: 20px;
    width: 1200px;
    height: 500px;
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
}

.verificar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(
        to right,
        rgba(129, 179, 243, 0.8),
        rgba(132, 196, 44, 0.8)
    );
    padding: 20px;
    border-radius: 30px;
    border-style: none;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 500px 0 0 465px;
    top: 10px;
    width: 260px;
    position: absolute;
}

.btn-b {
    position: absolute;
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(
        to right,
        rgba(129, 179, 243, 0.8),
        rgba(132, 196, 44, 0.8)
    );
    border: 0px;
    outline: none;
    border-radius: 50%;
    float: right;
}


/* CSS Seccion juego*/
.mjuego{
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}


.ejemplo{
    display: flex;
    width: 48%;
    height: 60%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(129, 178, 243, 0.4);
    border-radius: 20px;
    background-color: rgba(129, 178, 243, 0.2);
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 8px white;
}

.ejemplo p{
    height: 276px;
    width: 480px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 20px;
    margin: 12px 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: rgba(14, 13, 13, 0.534);
    font-stretch: narrower;
    text-align: start;
    line-height: 110%;
}

.copia{
    width: 48%;
    height: 60%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(129, 178, 243, 0.4);
    border-radius: 20px;
    background-color: rgba(129, 178, 243, 0.2);
    box-shadow: 0 0 8px white;
}
#escrito{
    background: transparent;
    text-align: center;
    margin-top: 16%;
}
.texto{
    left: 20px;
    text-align: center;
}


.mjuego textarea{
    text-align: center;
    height: 260px;
    width: 560px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 20px;
    margin: 12px 6px;
    font-size: 20px;
    padding-top: 12px;
}
/*---------------------*/

@media (max-width: 750px) {
    .btn-b {
        width: 10%;
    }
}

.btn-b i {
    font-size: 25px;
}