body {
    color: #404040;
    font-family: Tahoma;
    background-image: url(../../img/img_juegos/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.titulo-gen {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    background: /*linear-gradient(180deg,rgba(129, 179, 243,0.7),rgb(255,255,255));;
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6)*/ rgba(255, 255, 255, 0.9);
    line-height: 20px;
    width: 1200px;
    height: 60px;
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
}

.titulo {
    display: flex;
    justify-content: center;
}

.timer {
    text-align: center;
    padding: 3%;
    margin: 40px 0 0 1050px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgba(129, 179, 243, 0.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    position: fixed;
    border-radius: 90px;
    z-index: 5;
    font-size: 150%;
}

.contenido {
    margin: 20px auto 30px auto;
    border-radius: 5px;
    background:white;
    opacity: 0.9;
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 1200px;
    height: 710px;
    border: 2px solid rgba(129, 179, 243, 0.5) ;
}

.btn-b {
    position: absolute;
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(
        to right,
        rgba(132, 196, 44, 0.5),
        rgba(129, 179, 243)
    );
    border: 0px;
    outline: none;
    border-radius: 50%;
    float: right;
}

@media (max-width: 750px) {
    .btn-b {
        width: 10%;
    }
}

.btn-b i {
    font-size: 25px;
}

.game {
    width: 1200px;
    height: 600px;
    position: absolute;
    display: flex;
}

.respuestas {
    width:230px;
    height: 580px;
    float: left;
}

.cuadro-juego {
    width: 990px;
    height: 600px;
    display: flex;
    
}

.cuadro {
    margin: 0 0 0 30px;
    width: 900px;
    height: 505px;
    background-image: url('../../img/img_juegos/cuadro-fino.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:contain;
}

.box1 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 225px 0 0 337px;
}

.box2 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 151px 0 0 380px;
}

.box3 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 115px 0 0 250px;
}

.box4 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 65px 0 0 590px;
}

.box5 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 12px 0 0 342px;
}

.box6 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 435px 0 0 342px;
}

.box7 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 232px 0 0 -10px;
}

.box8 {
    position: absolute;
    width: 80px;
    height: 55px;
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 232px 0 0 696px;
}

.btn-v {
    position: absolute;
    margin-top: 530px;
}

.verificar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(
        to right,
        rgba(132, 196, 44, 0.5),
        rgba(129, 179, 243)
    );
    padding: 13px;
    border-radius: 30px;
    border-style: none;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 320px;
    width: 260px;
    float: left;
}

.recargar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(
        to right,
        rgba(132, 196, 44, 0.5),
        rgba(129, 179, 243)
    );
    padding: 13px;
    border-radius: 30px;
    border-style: none;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 620px;
    width: 260px;
}

.imagen1 {
    position: relative;
    width: 80px;
    height: 55px;
    border-radius: 5px;
}

.imagenes {
    position: absolute;
    width: 220px;
    height: 550px;
}

.caja-img {
    margin: 5px 0 0 75px;
    float: left;
    width: 140px;
    
}
