body{
    color: #404040;
    font-family: Tahoma;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.titulo-gen3 {
    margin: 10px auto 0 auto;
    padding: 0 8px 0 8px;
    border-radius: 5px;
    line-height: 20px;
    width: 160px;
    height: 200px;
    top: 40%;
    left: 5.2%;
    display: flex;
    align-items: center;
    text-align: justify;
    position: absolute;
    background: rgba(132, 196, 44, 0.6);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    border-width: 0.8px;
    border-style: solid;
    border-color: rgba(132, 196, 44, 0.9);
}

.titulo-gen1 {
    margin: -70px auto 0 auto;
    border-radius: 50px;
    line-height: 20px;
    width: 1332px;
    height: 55px;
    text-align: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    scale: 90%;
}

.timer {
    text-align: center;
    padding: 3%;
    margin: 40px 0 0 1000px;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 50px;
    border-width: 0.8px;
    border-style: solid;
    border-color: rgba(129, 178, 243, 0.9);
    z-index: 5;
    font-size: 150%;
}

@keyframes animation1 {
    0% {margin: 40px 0 0 990px;}
    20% {margin: 40px 0 0 1010px;}
    40% {margin: 40px 0 0 990px;} 
    60% {margin: 40px 0 0 1010px;}
    80% {margin: 40px 0 0 990px;} 
    100% {margin: 40px 0 0 1000px;}
}

@keyframes animation2 {
    0% {margin: 40px 0 0 990px;}
    10% {margin: 40px 0 0 1010px;}
    20% {margin: 40px 0 0 990px;} 
    30% {margin: 40px 0 0 1010px;}
    40% {margin: 40px 0 0 990px;} 
    50% {margin: 40px 0 0 1010px;}
    60% {margin: 40px 0 0 990px;} 
    70% {margin: 40px 0 0 1010px;} 
    80% {margin: 40px 0 0 990px;} 
    90% {margin: 40px 0 0 1010px;} 
    100% {margin: 40px 0 0 1000px;}
}

#timer {
    background: rgba(129, 179, 243, 0.7);
}

.logro {
    text-align: center;
    padding: 3%;
    margin: 320px 0 0 1000px;
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #85c42caf;
    box-shadow: 0 0 120px rgba(0, 0, 0, 0.6);
    position: fixed;
    border-radius: 50px;
    z-index: 5;
    font-size: 150%;
}

.instrucciones {
    margin: -0px auto 30px auto;
    width: 1200px;
    height: 620px;
    position: absolute;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    z-index: -1;
}

.instruccion {
    position: absolute;
    width: 160px;
    height: 270px;
    left: 81.3%;
    top: 57%;
    text-align: center;
    padding-right: 20px;
    padding-top: 25px;
    background: rgba(129, 179, 243, 0.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
}

.arrows {
    position: relative;
    float: left;
    width: 100px;
    scale: 50%;
    height: auto;
    margin-top: -9px;
}

#jump {
    margin-top: 10px;
}

.btn-b {
    position: absolute;
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    top: 3%;
    left: 5%;
    background: linear-gradient(
        to right,
        rgba(129, 179, 243),
        rgba(44, 196, 120, 0.6)
    );
    border: 0px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s;
}

.btn-b:hover {
    transform: scale(1.5);
}

@media (max-width: 750px) {
    .btn-b {
        width: 10%;
    }
}

.btn-b i {
    font-size: 25px;
}

.logotipo {
    width: 200px;
    position: absolute;
    margin-top: 640px;
}

#logo {
    width: 200px;
}