html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden; /*Para evitar desplazarse a la derecha*/
}

body::-webkit-scrollbar,
.latd::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical,
.latd::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button,
.latd::-webkit-scrollbar-button:increment,
.latd::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal,
.latd::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb,
.latd::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 5px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/*seccion de la foto de perfil*/
.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: flex;
  position: relative;
  width: 100%; /*Modifica el tamaño de la portada*/
  height: 19rem;
  border-radius: 0 0 23px 25px;
  /*margin-left: -8px;
  margin-right: 22px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*icono de btn de cambio de portada*/
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 240px;
  right: 35px;
  border: 5px;
  border-radius: 8px;
  padding: 10px 22px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
}

/*Btn portada*/
.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 4rem;
  background: transparent;
  box-shadow: 0 0 10px rgba(61, 172, 244);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 75%;
}

/*permite jugar con el movimiento que tendra la foto de perfil*/
.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 166px;
  height: 136px;
  align-items: center;
  justify-content: center;
  border: 8px solid #ffffff;
  background-color: #dfe5f2;
  border-radius: 100%;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  position: absolute;
  bottom: 15px;
  left: calc(
    10% - 59px
  ); /*indicacion que cambia el posicionamiento del icono de perfil*/
  z-index: 2;
}

/*Modifica el perfil del usuario*/
.seccion-perfil-usuario .perfil-usuario-avatar img {
  margin-top: 8px;
  width: 135%;
  height: 166px;
  position: relative;
  border-radius: 100%;
  margin-left: -18%;
}

.seccion-perfil-usuario .perfil-usuario-footer .boton-avatar {
  position: absolute;
  right: auto;
  top: 10px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 15px;
  height: 45px;
  border-radius: 80%;
  cursor: pointer;
  display: flex;
}

/*Modifica el btn "Cerrar sesión"*/
.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .boton-avatar {
  position: absolute;
  right: -25rem; /*posicionamiento del btn cerrar sesion*/
  top: 15px;
  border: 0px;
  width: 330px;
  height: 9px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.35rem;
  text-align: center;
  background-color: transparent;
  font-family: Tahoma;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: 2px;
  top: 19px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 50px;
  height: 25px;
  border-radius: 60%;
  cursor: pointer;
}

/*Foto de perfil*/
.perfil-usuario-header .upload {
  width: 126px;
  position: relative;
  margin: auto;
}

/*icono posicion del icono de la camara*/
.perfil-usuario-header .upload .round {
  position: absolute;
  bottom: 0;
  right: -14px;
  background: white;
  box-shadow: 0 0 10px rgba(61, 172, 244);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 75%;
  overflow: hidden;
}
.perfil-usuario-header .upload .round:hover {
  border-radius: 75%;
  background: skyblue;
}

.perfil-usuario-header .upload .round input[type="file"] {
  position: flex;
  transform: scale(0.3);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 50%;
  position: relative;
}

/*Da estilo al nombre de Usuario*/
.titulo {
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 15px;
  box-shadow: #82b2f3 0px 10px 5px;
  margin-top: 0px;
  padding: 5px;
}

/*Pestaña del usuario "Alumno personal"*/
.seccion-perfil-usuario .perfil-usuario-body .titulo {
  align-items: center;
  width: 88%;
  font-size: 1.3em;
  margin-bottom: 0.4rem; /*Se modifca el tamño del recuadro*/
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: dark;
  font-size: 35px;
}

/*Contenedor del recuadro de alumno de personal, incluye el btn cerrar Sesion*/
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: unset;
  padding: 0.8rem;
  /*
  box-shadow: 0 0 4px rgba(61, 172, 244, 0.6);
  background: linear-gradient(100deg, skyblue 25%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  border-radius: 45px;
  width: 35%;
  margin-bottom: 0.5rem;
  text-align: center;
  background: transparent;
}
.seccion-perfil-usuario .perfil-usuario-footer {
  display: block;
  flex-wrap: wrap;
  align-content: left;
  padding: 1.1rem 1rem;
  box-shadow: 0 0 8px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  width: 5%;
}

.seccion-perfil-usuario .lista-datos {
  width: 90%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }
}
@media (max-width: 750px) {
  .body .container {
    width: 100%;
  }
}
.body {
  display: flex;
  min-height: 56vh;
}

.lati {
  position: relative;
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1.3rem 2rem;
  border-radius: 18px;
  margin-left: 12px;
  margin-right: 25px;
  height: 100%;
  background: linear-gradient(
    25deg,
    #82b2f3,
    #bcb8a1,
    #85c32e,
    #95aec4,
    #bcc8a1
  );
  box-shadow: 0 0 9px #000;
  margin-top: 5px;
}

.lati .dos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.lati .dos1 {
  position: flex;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.3rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 3%;
  overflow: hidden;
  transition: 0.12s;
}
.lati .dos1:hover {
  border-radius: 5px;
  color: black;
  transition: all;
}
.lati .lista-datos {
  width: 105%;
  list-style: none;
}

.lati .lista-datos li {
  padding: 5px 0;
}

.lati .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.adquirido {
  position: relative;
  width: 130rem; /*posicionamiento del listado de cursos*/
  /*display: flex;
  flex-wrap: wrap;*/
  padding: 1.3rem 1rem;
  box-shadow: 0 0 9px #000;
  background: linear-gradient(65deg, #3faaf5, #fff, #85c32e, #bcc8a1, #73c4fc);
  border-radius: 25px;
  margin-top: 6px; /*Cambio de espaciado*/
  height: auto;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-right: 22px;
  text-align: center;
  height: 100%;
}

.cursos-adq {
  display: flex;
  width: 100%;
}

.latd {
  position: relative;
  align-items: left;
  width: 57rem; /*posicionamiento del listado de cursos*/
  display: flex;
  flex-wrap: wrap;
  padding: 1.3rem 0.5rem;
  box-shadow: 0 0 9px #000;
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: linear-gradient(65deg, #3faaf5, #fff, #85c32e, #bcc8a1, #73c4fc);
  border-radius: 25px;
  margin-top: 8px; /*Cambio de espaciado*/
  height: auto;
  margin-bottom: 5px;
  height: 100%;
}

.latd .card {
  margin: -15rem;
  width: 12rem;
  display: flex;
  height: 16rem; /*Cambia el tamaño del recuadro del curso*/
  border-radius: 35px; /*Redondeo de la tarjeta*/
  text-align: center;
  overflow: hidden;
  transition: 0.12s;
  border: solid 4px white;
  background-color: #fff;
  margin-right: 2px;
  margin-left: 10px;
  margin-bottom: 20px; /*Cambia el espaciado entre trajetas*/
}

.latd .card:hover {
  border-radius: 5px;
  color: black;
  transition: all;
}
.latd .card a {
  text-decoration: dashed;
}

input {
  border: none;
  outline: none;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 3px 3px 5px;
  margin-bottom: 20px;
  align-content: center;
  display: flex;
}
input:hover {
  background-color: #ffffff;
  color: #3dacf4;
}
.img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 2px;
}

.search-ctn {
  display: flex;
  align-items: center;
  padding: 5rem;
  border: 1px solid transparent;
  border-radius: 5rem;
  outline: none;
  width: 12px;
  margin-bottom: 20px; /*Cambia el espaciado entre trajetas*/
}

.titlec {
  width: 100%;
  color: #404040;
  padding: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 1.52rem; /*cambia el posicionamiento que contiene el espaciado de los recuadros del curso*/
  margin-bottom: 0;
}
.titlec:hover {
  color: white;
}

.latd .card:hover,
.latd .filterDiv:hover,
.adquirido .filterDiv:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px black;
}

.latd .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.latd .card .container {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin: auto 0;
}

.latd .card .container .box {
  width: 100%;
  scale: 90%;
  padding-top: 15px;
}

.latd .card .container .box h2,
.filterDiv .container .box h2 {
  display: block;
  text-align: center;
  color: darkslategray; /*Para cambiar el color de los titulos de curso*/
}

.latd .card .container .box .chart,
.latd .filterDiv .container .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 160px;
  height: 160px;
  color: #000000;
}

.latd .card .container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  .card,
  .filterDiv {
    margin-top: 20px;
    width: 90%;
  }
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #191919;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #191919;
}

.text {
  position: relative;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 1.5s;
}

.card:hover .text {
  color: #191919;
}

.box svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.box svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #191919;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(7) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(8) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(9) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(10) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(11) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(12) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(13) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(14) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(15) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}

.val-box {
  width: 100%;
  height: 340px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  border-color: #191919;
}

.values {
  padding: 22px 22px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fondo {
  width: 100%;
  height: 17rem;
  border-radius: 0 0 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Cambiar foto de perfil 

.upload{
  width: 125px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 8px solid #DCDCDC;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
} */

.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

.board {
  width: 96%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  padding: 0;
  overflow-x: auto;
}

.board img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.board h5 {
  font-weight: 500;
  font-family: Tahoma;
  font-size: 14px;
}

.board p {
  font-weight: 400;
  font-size: 13px;
  color: #1a3b54;
}

.board .nombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

.portada::-webkit-scrollbar {
  -webkit-appearance: none;
}

.portada::-webkit-scrollbar:vertical {
  width: 10px;
}

.portada::-webkit-scrollbar-button:increment,
.portada::-webkit-scrollbar-button {
  display: none;
}

.portada::-webkit-scrollbar:horizontal {
  height: 10px;
}

.portada::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.portada::-webkit-scrollbar-track {
  border-radius: 15px;
}

.user-details1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-details1 .input-box1 {
  width: 100%;
}

.user-details1 .input-box1 input {
  width: 100%;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
}

.user-details1 .input-box1 input[type="text"]:hover {
  cursor: text;
}

.btn-grd {
  width: 3%;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  margin: 0 0 0 130px;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 35px;
}
.btn-filter-ctn {
  width: 100%;
  text-align: center;
}
.filterDiv {
  width: 18rem;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 22rem;
  border-radius: 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.12s;
  border: solid 2px white;
  background-color: #fff;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 20px;
  display: none;
}

.adquirido .filterDiv {
  /*margin: -83rem;*/
  width: 12rem;
  display: flex;
  height: 16rem; /*Cambia el tamaño del recuadro del curso*/
  border-radius: 35px; /*Redondeo de la tarjeta*/
  text-align: center;
  overflow: hidden;
  transition: 0.12s;
  border: solid 4px white;
  background-color: #fff;
  margin: 10px; /*Cambia el espaciado entre trajetas*/
  margin-top: 0;
}
.filterDiv a,
.filterDiv a:visited {
  text-decoration: none;
  color: black;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/*Da estilo a los botones de categorías*/
.btn {
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: #3dacf4;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 3px 3px 5px;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #ffffff;
  color: #3dacf4;
}

.btn.active {
  background-color: #ffffff;
  color: #3dacf4;
  border: 1px solid #3dacf4;
  font-weight: bold;
}

/*Da estilo a las tarjetas de cada curso de la galería*/
#galeria {
  height: 15rem;
  text-align: center;
}

.BusquedaRapida {
  display: contents;
}

/*Estilo de la barra de búsqueda*/
.search-ctn {
  width: 100%;
  padding: 15px;
  color: #3dacf4;
  margin-bottom: 0;
}

.search-ctn input {
  color: #3dacf4;
  width: 100%;
}

.search-ctn input:hover {
  cursor: text;
}

.logout {
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  color: red;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 15px;
  box-shadow: #82b2f3 0px 5px 5px;
  margin-top: 0px;
  padding: 5px;
  float: right;

  margin-right: 60px;
}

.logout a {
  text-decoration: none;
  color: red;
}

.logout a:visited {
  color: red;
}

.upload-img {
  width: 100%;
  text-align: center;
}

.upload-img input[type="file"] {
  color: #85c32e;
  background-color: white;
  border: 1px solid #85c32e;
  margin-top: 20%;
}

.upload-img input[type="file"]:hover {
  background-color: #85c32e;
  color: white;
}

.upload-img button {
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.upload-img button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.all-ctn {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.lati {
  width: 20%;
  height: 700px;
}

.adquirido {
  width: 50%;
  height: 700px;
}

.latd {
  width: 25%;
  height: 700px;
  overflow: auto;
}

.filterDiv {
  margin-top: 10px;
}

.latd .filterDiv {
  margin: 15px;
}

.user-details1 {
  text-align: center;
  margin-top: 10px;
}

.user-details1 input:hover {
  box-shadow: #82b2f3 0px 10px 5px;
}

.user-details1 input[type="submit"] {
  margin-left: 40%;
  margin-top: 15px;
}

.user-details1 input[type="text"] {
  margin-left: 15%;
}
