body {
    color: #404040;
    font-family: Tahoma;
    background-image: url(../../img/img-juegos/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.titulo-gen {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 92%;
  /*height: 60px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-titulo {
    margin-top: 10px;
    text-align: center;
}

.footerimga{
    width: 100%;
    height: 90px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 2%;
  }
  
  .imagen-footer {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 250px !important;
  
  }

  .timer {
    text-align: center;
    padding: 0.9%;
    margin-left: 82.5%;
    margin-top:1.5%; /*Se cambio el pocisionamiento del timer*/
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(129, 179, 243, 0.7); /*Se cambio el fondo del timer*/
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    border-radius: 110px;
    border-width: 0.8px;
    border-style: solid;
    border-color: rgba(129, 178, 243, 0.9);
    z-index: 5;
    font-size: 170%;
  }
  @keyframes animation1 {
    0% {margin: 1.5% 0 0 82.4%;}
    20% {margin: 1.5% 0 0 82.6%;}
    40% {margin: 1.5% 0 0 82.4%;} 
    60% {margin: 1.5% 0 0 82.6%;}
    80% {margin: 1.5% 0 0 82.4%;} 
    100% {margin: 1.5% 0 0 82.5%;}
}

  @keyframes animation2 {
    0% {margin: 1.5% 0 0 82.2%;}
    15% {margin: 1.5% 0 0 82.8%;}
    30% {margin: 1.5% 0 0 82.2%;} 
    45% {margin: 1.5% 0 0 82.8%;}
    60% {margin: 1.5% 0 0 82.2%;} 
    75% {margin: 1.5% 0 0 82.8%;;}
    90% {margin: 1.5% 0 0 82.2%;} 
    100% {margin:1.5% 0 0 82.5%;}
  }

  @keyframes animation3 {
    0% {margin: 1.5% 0 0 81.4%;}
    10% {margin: 1.5% 0 0 83.6%;}
    20% {margin: 1.5% 0 0 81.4%;} 
    30% {margin: 1.5% 0 0 83.6%;}
    40% {margin: 1.5% 0 0 81.4%;} 
    50% {margin: 1.5% 0 0 83.6%;}
    60% {margin: 1.5% 0 0 81.4%;} 
    70% {margin: 1.5% 0 0 83.6%;} 
    80% {margin: 1.5% 0 0 81.4%;} 
    90% {margin: 1.5% 0 0 83.6%;} 
    100% {margin: 1.5% 0 0 82.5%;}
  }
h2{
    margin-left: 30px;
}
h4{
    margin-left: 255px;
}
.contenido {
    margin: 20px auto 30px auto;
    border-radius: 5px;
    background:white;
    opacity: 0.9;
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    line-height: 20px;
    width: 92%;
    height: 680px; /*COMENTADO TEMPORALMENTE*/
    border: 2px solid rgba(129, 179, 243, 0.5) ;
}

  
.btn-b {
    width: 70px;
    padding: 10px 10px;
    cursor: pointer;
    background: linear-gradient(to right,
     rgba(129, 179, 243,0.7), 
     rgba(132,196,44,0.6)
    );
    border: 0px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10%;
  }
  .btn-b:hover {
    scale: 130%;
    transition: scale 0.35s;
  }
  
  .btn-b:hover::after {
    scale: 100%;
    transition: scale 0.35s;
  }
  

@media (max-width: 750px) {
    .btn-b {
        width: 10%;
    }
}

.btn-b i {
    font-size: 25px;
}

.game {
    width: 100%; /*Ancho modificado*/
    height: 75%;
    /*width: 1200px;
    height: 600px;*/
    /*position: absolute;*//*COMENTADO TEMPORALMENTE*/
    display: flex;
    text-align: center;
}

.respuestas {
    width:15%;
    height: 60%;
    /*width:230px;
    height: 580px;*/
    float: left;
    margin-left: 4%;
}

.cuadro-juego {
    width: 85%;
    height: 600px; /*COMENTADO TEMPORALMENTE*/
    display: flex;
    
}

.cuadro {
    margin: 0 0 0 30px;
    width: 84%;
    height: 84%;
    /*width: 900px;
    height: 505px;*/
    background-image: url(../../img/img-juegos/cuadro-fino.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size:contain;
}

.box1 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 16.5% 0 0 24.5%;/*225px 0 0 337px;*/
}

.box2 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 11.6% 0 0 30%; /*151px 0 0 380px;*/
}

.box3 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 8.7% 0 0 18%;/*115px 0 0 250px;*/
}

.box4 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 4.7% 0 0 44.5%;/*65px 0 0 590px;*/
}

.box5 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 0.9% 0 0 25%;/*12px 0 0 342px;*/
}

.box6 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 32% 0 0 25%;/*435px 0 0 342px;*/
}

.box7 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 17% 0 0 -1%;/*232px 0 0 -10px;*/
}

.box8 {
    position: absolute;
    width: 6.1%; /*80px*/
    height: 8.5%; /*55px*/
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    margin: 17% 0 0 51%;/*232px 0 0 696px;*/
}

.btn-v {
    /*position: absolute;*/
    margin-top: 1.5%; /*Cambio de posición de ctn-botones*/
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
}

.verificar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(to right,
     rgba(129, 179, 243,0.7), 
     rgba(132,196,44,0.6)
    );
    padding: 13px;
    border-radius: 30px;
    border-style: none;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 0 0 320px;*/
    margin: 0 0 0 26%;
    width: 20%;
    float: left;
}

.recargar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(to right,
     rgba(129, 179, 243,0.7), 
     rgba(132,196,44,0.6)
    );
    padding: 13px;
    border-radius: 30px;
    border-style: none;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 0 0 620px;
    width: 260px;*/
    margin: 0 0 0 53.5%;
    width: 20%;
}

.imagen1 {
    position: relative;
    width: 100%;
    height: 100%;
    /*height: calc(58%-31.5%);*/
    /*width: 80px;
    height: 55px;*/
    border-radius: 5px;
}

.imagenes {
    position: absolute;
    width: 12%; /*TEMPORAL*/
    /*height: 60%;*/
    /*background-color: blueviolet;*/
    /*width: 220px;
    height: 550px;*/
}

.caja-img {
    /*margin: 5px 0 0 75px;*/
    margin: 2% 0 0 30%;
    float: left;
    width: 55%;
    /*width: 140px;*/
}

/*@media (max-width: 850px) {
    body {
        overflow-x: hidden;
    }

    .titulo-gen {
        margin: 10px auto 10px auto;
        width: 470px;
        height: 70px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .titulo {
        font-size: 35px;
    }

    .sub-titulo {
        font-size: 18px;
        margin: 50px 10px 0 10px;
        text-align: center;
    }

    .contenido {
        margin: 20px auto 30px auto;
        width: 470px;
        height: 600px;
    }

    .timer {
        padding: 2%;
        margin: 40px 0 0 300px;
        width: 120px;
        height: 120px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
        font-size: 100%;
    }

    .game {
        scale: 57%;
        margin: -180px 0 0 -180px;
        width: 830px;
        height: 800px;
    }

    .imagen1 {
        position: relative;
        width: 80px;
        height: 55px;
        border-radius: 5px;
    }
    
    .imagenes {
        position: absolute;
        width: 830px;
        height: 550px;
    }
    
    .caja-img {
        margin: 5px 0 0 100px;
        float: left;
        width: 80px;
    }

    .cuadro-juego {
        width: 990px;
        height: 600px;
        display: flex;
        margin: 200px 0 0 30px;
    }

    .btn-v {
        margin-top: 420px;
    }
    .verificar {
        padding: 10px;
        font-size: 80%;
        margin: 0 0 0 50px;
        width: 180px;
        float: left;
    }
    
    .recargar {
        padding: 10px;
        font-size: 80%;
        margin: 0 0 0 240px;
        width: 180px;
    }
}*/

@media (max-width: 1300px) {
    .timer {
      height: 140px !important;
      width: 140px !important;
    }
    .contenido h4 {
      font-size: 120%;
      margin-top: 5%;
    }
    .box1 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 21.2% 0 0 35%;/*225px 0 0 337px;*/
        top: 245px;
        left: 290px;
    }
    
    .box2 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 11.1% 0 0 30%; /*151px 0 0 380px;*/
        top: 240px;
        left: 300px;
    }
    
    .box3 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 8.5% 0 0 18%;/*115px 0 0 250px;*/
        top: 235px;
        left: 300px;
    }
    
    .box4 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 4.5% 0 0 45%;/*65px 0 0 590px;*/
        top: 230px;
        left: 330px;
        
    }
    
    .box5 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 0.8% 0 0 25%;/*12px 0 0 342px;*/
        top: 225px;
        left: 300px;
    }
    
    .box6 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 32% 0 0 25%;/*435px 0 0 342px;*/
        top: 270px;
        left: 300px;
    }
    
    .box7 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 16% 0 0 -1%;/*232px 0 0 -10px;*/
        top: 225px;
        left: 260px;
    }
    
    .box8 {
        width: 6%; /*80px*/
        height: 8%; /*55px*/
        /*margin: 17% 0 0 51%;/*232px 0 0 696px;*/
        top: 225px;
        left: 320px;
    }
    .contenido{
        height: 750px;
    }
    .btn-v button{
        width: 25%;
        padding: 8px;
        height: 30px;
    }
    .btn-v{
        font-size: 100%;
        margin: -3% 0 0 0% !important;
    }
  }
  
  @media(max-width: 741px){
    h4{
        margin-left: 5px;
    }
  }
  @media (max-width: 1000px) {
    h4{
        margin-left: 5px;
    }
    .contenido h4 {
      font-size: 115%;
      margin-top: 10%;
    }

    .box1 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 21.2% 0 0 35%;/*225px 0 0 337px;*/
        top: 290px;
        left: 250px;
    }
    
    .box2 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 11.1% 0 0 30%; /*151px 0 0 380px;*/
        top: 280px;
        left: 270px;
    }
    
    .box3 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 8.5% 0 0 18%;/*115px 0 0 250px;*/
        top: 275px;
        left: 270px;
    }
    
    .box4 {
        width: 7%; /*8rgb(6, 93, 255)*/
        height: 6%; /*55px*/
        top: 265px;
        left: 280px;
        
    }
    
    .box5 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 0.9% 0 0 25%;/*12px 0 0 342px;*/
        top: 265px;
        left: 265px;
    }
    
    .box6 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 32% 0 0 25%;/*435px 0 0 342px;*/
        top: 315px;
        left: 265px;
    }
    
    .box7 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 17% 0 0 -1%;/*232px 0 0 -10px;*/
        top: 265px;
        left: 215px;
    }
    
    .box8 {
        width: 7%; /*80px*/
        height: 6%; /*55px*/
        /*margin: 17% 0 0 51%;/*232px 0 0 696px;*/
        top: 265px;
        left: 275px;
    }
    .contenido{
        height: 650px;
    }
    .btn-v button{
        width: 25%;
        padding: 5px;
        height: 30px;
    }
    .btn-v{
        font-size: 90%;
        margin: -5.5% 0 0 0% !important;
    }
  }
  

  @media(max-width: 850px){
    .box4 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        top: 258px;
        left: 175px;
        
    }
}
@media(max-width: 760px){
    .box4 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        top: 255px;
        left: 200px;
        
    }
}

  @media (max-width: 850px) {
    h4{
        margin-left: 5px;
    }
    .timer{
        margin-left: 70%;
    }
    body{
        font-size: 13px;
    }
    .contenido h4 {
      font-size: 115%;
      margin-top: 10%;
    }

    .box1 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 21.2% 0 0 35%;/*225px 0 0 337px;*/
        top: 260px;
        left: 180px;
    }
    
    .box2 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 11.1% 0 0 30%; /*151px 0 0 380px;*/
        top: 260px;
        left: 175px;
    }
    
    .box3 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 8.5% 0 0 18%;/*115px 0 0 250px;*/
        top: 260px;
        left: 175px;
    }
    
    
    
    .box5 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 0.9% 0 0 25%;/*12px 0 0 342px;*/
        top: 260px;
        left: 175px;
    }
    
    .box6 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 32% 0 0 25%;/*435px 0 0 342px;*/
        top: 275px;
        left: 175px;
    }
    
    .box7 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 17% 0 0 -1%;/*232px 0 0 -10px;*/
        top: 260px;
        left: 175px;
    }
    
    .box8 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 17% 0 0 51%;/*232px 0 0 696px;*/
        top: 260px;
        left: 185px;
    }
    .contenido{
        height: 550px;
    }
    .imagenes{
        width: 90px;
    }
    .cuadro-juego{
        height: 350px;
    }
    .btn-v button{
        width: 25%;
        padding: 5px;
        height: 30px;
    }
    .btn-v{
        font-size: 80%;
        margin: -12% 0 0 -5% !important;
    }
  }
  
  @media (max-width: 669px) {
    h4{
        margin-left: 5px;
        font-size: 12px;
    }
    body{
        font-size: 12px;
    }
    .titulo{
        font-size: 12px;
    }
    .contenido h4 {
      font-size: 115%;
      margin-top: 10%;
    }
  
    .timer {
      width: 120px;
      height: 120px;
      font-size: 120%;
      margin-left: 65%;
    }

    .box1 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 21.2% 0 0 35%;/*225px 0 0 337px;*/
        top: 243px;
        left: 150px;
    }
    
    .box2 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 11.1% 0 0 30%; /*151px 0 0 380px;*/
        top: 242px;
        left: 155px;
    }
    
    .box3 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 8.5% 0 0 18%;/*115px 0 0 250px;*/
        top: 242px;
        left: 155px;
    }
    
    .box4 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 4.7% 0 0 43.6%;/*65px 0 0 590px;*/
        top: 242px;
        left: 160px;
    }
    
    .box5 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 0.9% 0 0 25%;/*12px 0 0 342px;*/
        top: 241px;
        left: 155px;
    }
    
    .box6 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 32% 0 0 25%;/*435px 0 0 342px;*/
        top: 250px;
        left: 155px;
    }
    
    .box7 {
        
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 17% 0 0 -1%;/*232px 0 0 -10px;*/
        top: 250px;
        left: 155px;
    }
    
    .box8 {
        width: 7%; /*80px*/
        height: 5%; /*55px*/
        /*margin: 17% 0 0 51%;/*232px 0 0 696px;*/
        top: 250px;
        left: 150px;
    }
    .contenido{
        height: 450px;
        font-size: 12px;
    }
    .imagenes{
        width: 80px;
    }
    .cuadro-juego{
        height: 280px;
    }
    .btn-v button{
        width: 25%;
        padding: 5px;
        height: 30px;
    }
    .btn-v{
        font-size: 70%;
        margin: -14% 0 0 6% !important;
    }
  }
  
  @media (max-width: 565px) {
    body{
        height: auto;
    }
    .contenido h4 {
      font-size: 115%;
      margin-top: 10%;
    }

    .box1 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 21.2% 0 0 35%;/*225px 0 0 337px;*/
        top: 232px;
        left: 129px;
    }
    
    .box2 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 11.1% 0 0 30%; /*151px 0 0 380px;*/
        top: 230px;
        left: 136px;
    }
    
    .box3 {
       width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 8.5% 0 0 18%;/*115px 0 0 250px;*/
        top: 232px;
        left: 129px;
    }
    
    .box4 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 4.7% 0 0 43.6%;/*65px 0 0 590px;*/
        top: 232px;
        left: 129px;
    }
    
    .box5 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 0.9% 0 0 25%;/*12px 0 0 342px;*/
        top: 232px;
        left: 129px;
    }
    
    .box6 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 32% 0 0 25%;/*435px 0 0 342px;*/
        top: 232px;
        left: 129px;
    }
    
    .box7 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 17% 0 0 -1%;/*232px 0 0 -10px;*/
        top: 237px;
        left: 125px;
    }
    
    .box8 {
        width: 7%; /*80px*/
        height: 4%; /*55px*/
        /*margin: 17% 0 0 51%;/*232px 0 0 696px;*/
        top: 237px;
        left: 130px;
    }
    .contenido{
        height: 400px;
    }
    .imagenes{
        width: 70px;
    }
    .cuadro-juego{
        height: 230px;
    }
    .btn-v button{
        width: 25%;
        padding: 5px;
        height: 30px;
    }
    .btn-v{
        font-size: 70%;
        margin: -20% 0 0 3.5% !important;
    }
  }