*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    
  }
  body{
    background-image: url(../../img/img_juegos/bg.png);/*Se cambio el fondo*/
    background-repeat: no-repeat; /*no repite la imagen*/
    background-size: cover;/*distribuye la imagen a toda la pantalla*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
      font-family: Tahoma;
      color: #404040;
  }
  
  body::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  body::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  body::-webkit-scrollbar-button:increment,
  body::-webkit-scrollbar-button {
    display: none;
  }
  
  body::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  body::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  .titulo-gen {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px rgba(129,179,243);
    line-height: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 86%;
    margin: 3% auto;
    height: 70px;
    margin-left: 7%;
    justify-content: center;
  }
  
  .titulo {
    display: flex;
    justify-content: center;
  }
  
  .timer {
    text-align: center;
    padding: 0.9%;
    top: 4%;
    right: 3%; /*Se cambio el pocisionamiento del timer*/
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(129, 179, 243, 0.7); /*Se cambio el fondo del timer*/
    box-shadow: 0 0 12px rgba(129, 179, 243);
    position: fixed;
    border-radius: 110px;
    z-index: 5;
    font-size: 170%;
  }
  
  section {
    padding: 0px;
    width: 86%;
    height: auto; 
    margin-top: 40px;
    margin-left: 7%;
    display: flex;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(129, 179, 243, 0.5);
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    flex-wrap: wrap;
    margin-bottom: 65px;
    justify-content: center;
    align-items: center;
  }
  
  .cont-st {
    width: 98%;
    height: 65px;
    display: flex;
    align-items: center;
  }
  
  .btn-b {
    width: 70px;
    padding: 10px 10px;
    cursor: pointer;
    background: linear-gradient(
      to right,
      rgba(129, 179, 243),
      rgba(132, 196, 44, 0.6)
    );
    border: 0px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10%;
  }
  
  .btn-b i {
    font-size: 25px;
  }
  
  .titulo {
    flex-grow: 1;
    text-align: center;
  }


.verificar {
    cursor: pointer;
    color: #404040;
    background: linear-gradient(
        to right,
        rgba(129, 179, 243),
        rgba(132, 196, 44, 0.6)
    );
    padding: 20px;
    border-radius: 30px;
    border-style: none;
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    position: absolute;
    bottom: 60px;
}


/* juego */


.container-all {
    width: 70%;
    display: flex;
    margin-bottom: 120px;
}

#canvas {
    background-color: rgba(51, 50, 50, 0);
    display: flex;
    width: 60%;
}

.left-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.word-box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: rgba(61, 172, 244);
    cursor: pointer;
    text-align: center;
    border: 2px solid rgba(61, 172, 244, 0.6);
    border-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-box:hover {
    background: linear-gradient(45deg, rgba(129, 179, 244));
    box-shadow: 0px 2px 12px 2px #3dacf4;
}

.seleccionado {
    background-color: #2097e6 !important;
}

.correcto {
    background-color: rgb(54, 228, 54);
    cursor: default;
}

.incorrecto {
    background-color: rgb(243, 57, 25);
    cursor: default;
}

.deshabilitado {
    pointer-events: none;
    opacity: 0.5;
}
h4 {
    font-weight: bold;
}

.footerimga{
  width: 100%;
  height: 90px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}

.imagen-footer {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 250px !important;

}

@media (max-width: 840px) {
  
.container-all {
    width: 90%;
}
}
  
@media (max-width: 619px) {
  
    .word-box{
        font-size: 16px;
    }
    
    .timer {
      width: 120px;
      height: 120px;
      font-size: 120%;
    }
  
    .titulo-gen{
      font-size: 17px;
    }
  
    h2 .titulo{
      font-size: 19px;
    }
  
    h6 .titulo{
      font-size: 14px;
    }
  
    .btn-b {
      width: 70px;
      padding: 10px 10px;
      margin-left: 10%;
    }
  
    .btn-b i {
      font-size: 20px;
    }
  }
  
  
  @media (max-width: 518px) {
    .container-all {
        width: 97%;
    }
  
    .word-box{
        font-size: 13px;
    }
    .html-b-t{
      font-size: 12px;
    }
    
  }
  
 