body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../../img/img_juegos/img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.titulo-gen {
  margin: 10px auto 0 auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  line-height: 20px;
  width: 1200px;
  height: 60px;
}

.titulo {
  margin: 15px 0 5px 360px;
}

.contenido {
  margin: 20px auto 30px auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  line-height: 20px;
  width: 1200px;
  height: 600px;
}

.words {
  padding: 10% 0 0 0;
  margin: auto;
  width: 400px;
  height: 500px;
  position: absolute;
  text-align: center;
}

.soup {
  float: right;
  padding: 0 0 0 8%;
  width: 800px;
  height: 500px;
}

.linea {
  background-color: rgba(88, 88, 88, 0.3);
  margin-top: 20px;
  width: 1px;
  height: 450px;
  position: absolute;
  margin-left: 400px;
}

#juego {
  float: left;
  margin: 20px 90px;
}

#juego div {
  width: 100%;
  margin: 0 auto;
}

#juego .puzzleSquare {
  height: 40px;
  width: 40px;
  margin: 1px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border-color: rgba(128, 128, 128, 0.6);
  border-radius: 10px;
  font-size: 150%;
  font-family: Tahoma;
}

button::-moz-focus-inner {
  border: 0;
}

#juego .selected {
  background-color: #84c42c;
}

#juego .found {
  background-color: rgba(61, 172, 244);
  color: white;
}

#juego .solved {
  background-color: rgba(255, 0, 0, 0.473);
  color: white;
}

#juego .complete {
  background-color: #85c42cbb;
}

#Palabras {
  padding-top: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  width: 300px;
  font-size: 150%;
  margin-left: 45px;
  text-align: start;
}

#Palabras li {
  padding: 5px 0;
}

#Palabras .wordFound {
  text-decoration: line-through;
  color: gray;
}

#solve {
  margin: 0 30px;
}

.timer {
  text-align: center;
  padding: 3%;
  margin: 30px 0 0 1120px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #85c42caf;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  position: fixed;
  border-radius: 80px;
  z-index: 5;
  font-size: 130%;
}

.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

@media (max-width: 750px) {
  .btn-b {
    width: 10%;
  }
}

.btn-b i {
  font-size: 25px;
}
