:root {
  --blanco: #ffffff;
  --oscurp: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --border: rgba(0, 201, 255, 2556);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, white 15%, #5afef4, #42fa8f, #0cfefd);
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}
h1 {
  margin: auto;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

h2 {
  margin: auto;
  text-align: center;
  font-weight: bolder;
  font-size: 35px;
}

.subtitle-perfil h3 {
  font-weight: 400;
  margin-top: 1%;
  margin-left: 7%;
  font-size: 23px;
}

.containers {
  background-color: rgba(255, 255, 255, 0.583);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 3px solid var(--border);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  width: 86%;
  box-sizing: border-box;
  margin: 2% auto;
  height: 89px;
  margin-left: 10%;
}

.perfil-usuario-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  width: 200px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 200px; /* Ajusta el tamaño del círculo según tus necesidades */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 6px solid rgb(0, 0, 0); /* Agrega un borde azul */
}

.avatar-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  background: #fff;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid rgba(0, 201, 255, 2556);
  background: rgb(0, 0, 0);
  position: absolute;
  margin-left: 11%;
  margin-top: 11%;
  cursor: pointer;
}

.camera-icon i {
  color: #000;
  margin: 2px; /* Ajusta el margen según tus necesidades */
}

section {
  padding: 0px;
  width: 86%;
  height: 630px;
  margin-top: 40px;
  margin-left: 10%;
  display: flex;
}

.left-content {
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 20px;
  padding: 0px;
  border: 3px solid var(--border);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  box-sizing: border-box;
  width: 35%;
  height: 100%;
}

.right-content {
  background-color: rgba(255, 255, 255, 0.986);
  border-radius: 20px;
  padding: 0px;
  border: 3px solid var(--border);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  margin-left: 5%;
  display: block;
}

.titlec {
  width: 70%;
  height: 55px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 201, 255, 2556);
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  margin-left: 15%;
  padding: 5px;
}

.container-image {
  width: 100%;
  height: 34%;
}

.container-info {
  width: 100%;
  height: 45%;
  font-weight: 400;
  margin-left: 7%;
  margin-top: 5%;
}

.container-info {
  display: flex;
  flex-direction: column;
}

.container-info h3 {
  margin: 0;
  font-size: 24px;
}

.container-info h3 span {
  margin-left: 5px;
  font-weight: 100;
  font-size: 19px;
}

@media (max-width: 1120px) {
  h1 {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 38px;
  }

  h2 {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 27px;
  }

  .container-info h3 {
    font-size: 24px;
  }

  .container-info h3 span {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .containers {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    margin: 2% auto;
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    height: 60px;
    margin-left: 13%;
  }

  .camera-icon {
    width: 55px;
    height: 55px;
    margin-left: 19%;
    margin-top: 19%;
  }

  section {
    padding: 0px;
    width: 80%;
    height: 500px;
    margin-left: 13%;
    display: block;
  }

  .titlec {
    width: 50%;
    height: 45px;
    margin-left: 25%;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }

  .container-info {
    margin-top: 2%;
  }
  .container-info h3 {
    font-size: 20px;
  }

  .container-info h3 span {
    font-size: 17px;
  }

  .titlec {
    height: 65px;
  }
}

@media (max-width: 480px) {
  .containers {
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
    margin: 2% auto;
    box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
    height: 60px;
    margin-left: 18%;
  }

  .camera-icon {
    width: 55px;
    height: 55px;
    margin-left: 31%;
    margin-top: 31%;
  }

  section {
    padding: 0px;
    width: 70%;
    height: 500px;
    margin-left: 18%;
    display: block;
  }

  .titlec {
    width: 50%;
    height: 45px;
    margin-left: 25%;
  }

  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }

  .container-info h3 {
    font-size: 18px;
  }

  .container-info h3 span {
    font-size: 16px;
  }

  .titlec {
    height: 75px;
  }
}

h2 {
  margin-bottom: 2rem;
  text-align: center;
}

#graficaContainer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  margin: 10px;
  margin-top: 15%;
}

canvas {
  max-width: 100%;
  margin: 0 auto;
  /*max-height: 70%;*/
}

.change-password {
  width: 93%;
  height: 24%;
  font-weight: 400;
  margin-left: 7%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.change-password h3 {
  margin: 0;
  font-size: 24px;
}

.user-details1 {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form .user-details1 .input-box1 {
  margin-top: 5%;
  width: 100%;
}

.user-details1 .input-box1 .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.input-box1 input {
  width: 95%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 12px rgba(44, 107, 196, 0.8);
}

.input-box1 .btn-grd {
  width: 55%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #63e4cf, #8cfd36);
  border: 0px;
  outline: none;
  border-radius: 30px;
}
