html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../img/bg1.png);
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.body-expanded {
  margin-left: 300px;
}

#sidemenu {
  background-image: url(../img/bg.png);
  color: black;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

#sidemenu a {
  color: black;
  text-decoration: none;
}
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px rgba(61, 172, 244);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}
#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: #84c42c;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #1a3b54;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #profile {
  border-bottom: solid 1px rgba(61, 172, 244);
  padding: 10px 0;
  text-align: center;
}

#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0 auto;
}

#sidemenu.menu-collapsed #profile #photo img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

#sidemenu.menu-expanded #profile #photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 20px;
  padding: 10px 0;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
  height: 43px;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidemenu #menu-items .item .icon img {
  width: 100%;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 20px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item a {
  display: block;
}

#sidemenu #menu-items .item a:hover {
  background: linear-gradient(
    90deg,
    rgba(61, 172, 244, 0.4) 19%,
    rgba(132, 196, 44, 0.4) 88%
  );
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .separator {
  height: 1px;
  border-bottom: solid 1px rgba(61, 172, 244);
  margin: 5px 0;
}

.menu-expanded {
  width: 300px;
  box-shadow: 0 0 10px black;
}

.menu-expanded #header #menu-btn {
  margin-left: 140px;
}
.menu-expanded #header #title {
  display: inline-block;
  width: calc(100%-50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc(300px - 50px - 5px);
  overflow: hidden;
}

.menu-expanded #profile #photo {
  width: 200px;
}
.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 100%;
  height: 17rem;
  border-radius: 0 0 20px 20px;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(132, 196, 44, 0.6);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #ffffff;
  background-color: #dfe5f2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  margin-top: 4px;
  width: 135%;
  height: 166px;
  position: relative;
  border-radius: 50%;
  margin-left: -17%;
}

.seccion-perfil-usuario .perfil-usuario-footer .boton-avatar {
  position: absolute;
  right: 10px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .boton-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: -2px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-usuario-header .upload {
  width: 125px;
  position: relative;
  margin: auto;
}

.perfil-usuario-header .upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 12px rgba(61, 172, 244);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.perfil-usuario-header .upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 90%;
  position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: black;
  font-size: 30px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: left;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 30%;
}

.seccion-perfil-usuario .lista-datos {
  width: 100%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }
}

#modalA::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

#modalG::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-center {
  position: absolute; /*Posicionamiento absoluto*/
  top: 50%; /*Desde arriba, colocar al 50% de la pantalla*/
  left: 50%; /*Desde la izquierda, colocar al 50% de la pantalla*/
  margin-left: -350px; /*Restamos la mitad de ancho de la capa para centrarla horizontalmente*/
  margin-top: -300px; /*Restamos la mitad de ancho de la capa para centrarla horizontalmente*/
  height: 600px;
  text-align: left;
  border: none;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

dialog {
  border: none;
  background-image: url(../img/bg1.png);
  border-radius: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
}

.container i {
  font-size: 20px;
}

.container .new-g {
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 500;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #1a3b54;
  padding-left: 15px;
  font-size: 16px;
  font-family: Tahoma;
  border-bottom-width: 2px;
  transition: all 0.3s;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #84c42c;
}

.btn-grd {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 30px;
}
.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav li a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 3px 5px;
  display: block;
  font-size: small;
}

.nav li a:hover {
  background-color: #ffffff;
  color: rgba(61, 172, 244, 0.4);
}

.nav > li {
  float: right;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 120px;
}

.nav li:hover > ul {
  display: block;
}
