body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../../img/img_juegos/img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}
#mensaje {
  width: 300px;
}
.contenido {
  margin: 20px auto 30px auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  line-height: 20px;
  width: 1200px;
  height: 650px;
}

.titulo-gen {
  margin: 10px auto 0 auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  line-height: 20px;
  width: 1200px;
  height: 60px;
}

.titulo {
  margin: 15px 0 5px 400px;
}

.linea {
  background-color: rgba(88, 88, 88, 0.3);
  width: 1px;
  height: 460px;
  position: absolute;
  margin-left: 600px;
}

.words {
  padding: 3%;
  width: 600px;
  height: 400px;
  position: absolute;
}

.verificar {
  cursor: pointer;
  color: #404040;
  background: linear-gradient(to bottom right, #84c42c, rgba(61, 172, 244));
  padding: 20px;
  border-radius: 30px;
  border-style: none;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 635px 0 0 465px;
  top: 10px;
  width: 260px;
  position: absolute;
}

.horizontal {
  float: right;
  margin: auto;
  width: 260px;
  padding: 5%;
  text-align: justify;
  margin-bottom: 60px;
}

.vertical {
  float: left;
  margin: auto;
  width: 260px;
  padding: 5%;
  text-align: justify;
}

.crucigrama {
  float: right;
  padding: 0 0 0 7%;
  width: 600px;
  height: 400px;
}

.casilla {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  border-color: rgba(128, 128, 128, 0.6);
}
.table {
  width: 490px;
}
.table td,
th {
  padding: 0;
}

.numero1 {
  position: absolute;
  margin-left: -20px;
  margin-top: 220px;
  font-size: 120%;
}

.numero2 {
  position: absolute;
  margin-left: -20px;
  margin-top: 430px;
  font-size: 120%;
}

.numero1-1 {
  position: absolute;
  margin-left: 70px;
  margin-top: 135px;
  font-size: 120%;
}

.numero2-2 {
  position: absolute;
  margin-left: 175px;
  margin-top: 30px;
  font-size: 120%;
}

.numero3-3 {
  position: absolute;
  margin-left: 282px;
  margin-top: -22px;
  font-size: 120%;
}

.numero3-4 {
  position: absolute;
  margin-left: 385px;
  margin-top: 185px;
  font-size: 120%;
}

@media (max-width: 700px) {
  .col-md-12 {
    padding: 0 0 0 20%;
  }
}

.timer {
  text-align: center;
  padding: 3%;
  margin: 30px 0 0 1120px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #85c42caf;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  position: fixed;
  border-radius: 80px;
  z-index: 5;
  font-size: 130%;
}

.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

@media (max-width: 750px) {
  .btn-b {
    width: 10%;
  }
}

.btn-b i {
  font-size: 25px;
}
