* {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Tahoma;
}
/*-------------------------LOGIN-------------------------------*/

html,
body {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(
        to bottom,
        white 15%,
        #5afef4,
        #42fa8f,
        #0cfefd
    );
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129, 179, 243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    position: relative;
    /* max-height: 700px; */
}

.container .panel {
    /*width: 1500px;*/
    height: 650px;
    border-top-left-radius: 50%;
    padding-top: 110px;
    /*padding-right: 20px;*/
}
.row {
    display: grid;
    grid-template-columns: 65% 0%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.liquid {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.liquid img {
    width: 80%;
}

.owl-carousel {
    width: 100%;
    height: 300px;
    max-height: 500px;
}

.owl-carousel .owl-item .login_img {
    float: right;
    width: 800px;
    height: 518px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3rem;
}
.form-box {
    width: 450px;
    height: 490px;
    position: relative;
    background: rgba(255, 255, 255, 1);
    border-radius: 0 35px 35px 0;
    overflow: hidden;
    padding-top: 90px;
    float: left;
    margin: -80px 0 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.info-box {
    width: 450px;
    height: 490px;
    position: relative;
    background: #38b6ff;
    border-radius: 35px 0 0 35px;
    overflow: hidden;
    padding-top: 90px;
    margin: -80px 0 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.titl-info {
    margin: 0 0 20px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
}

.titl-info p {
    font-size: 30px;
}

.separacion {
    width: 100%;
    height: 5px;
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
}

.separacion .linea {
    height: 1px;
    width: 80%;
    background-color: #ffffffbb;
}

.txt-info {
    margin: 50px 0 0 0;
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    width: 88%;
}

.txt-info p {
    text-align: justify;
    font-size: 18px;
}

.txt-info b {
    font-style: italic;
    font-size: 18px;
    color: rgb(219, 219, 219);
}

.reg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg p {
    font-size: 30px;
    font-weight: bolder;
    border-radius: 40px;
    margin: -15px 0 0 0;
    padding: 15px 30px 15px 30px;
    color: #ffffff;
    background-color: #38b6ff;
}

.button-box {
    width: 240px;
    margin: 0px auto;
    background-color: black;
    position: relative;
    border-radius: 30px;
}
.button-box button {
    color: white;
}
.toggle-btn {
    padding: 15px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}

#elegir {
    top: 0;
    left: 0;
    right: 120px;
    position: absolute;
    width: 120px;
    height: 100%;
    background-color: #38b6ff;
    border-radius: 30px;
    transition: 0.8s;
}

.logop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 5;
}

.logop img {
    width: 350px;
    cursor: pointer;
}

.input-group {
    padding: 0 0 0 0;
    width: 100%;
    margin: 50px 0 0 0;
}

.input-group1 {
    padding: 0 0 0 0;
    width: 100%;
}

.ico {
    font-size: 20px;
}

.sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-field {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: #e6e3e1;
    border-radius: 20px;
    height: 25px;
}

.input-field1 {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: #e6e3e1;
    border-radius: 20px;
    height: 12px;
}

.input-field2 {
    width: 85%;
    padding: 10px;
    margin: 2px 0;
    border: none;
    outline: none;
    background: #e6e3e1;
    border-radius: 20px;
    height: 12px;
}

.submit-btn {
    padding: 5px 25px;
    cursor: pointer;
    display: block;
    background-color: #38b6ff;
    border: 0px;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.5s;
}

.submit-btn:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.check-box {
    margin: 20px 10px 20px 35px;
}

.check-box1 {
    margin: 5px 10px 20px 35px;
}

span {
    color: #59819d;
    font-size: 14px;
}

#Ingresar {
    left: 50px;
}

#Registrarse {
    left: 450px;
}

form .form-group {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
    border-radius: 5rem;
}

form .form-group .form-input {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
}

.input-group1 .form-group {
    text-align: center;
    margin: 0.1rem 2rem 0 2rem;
    border-radius: 5rem;
}

form .input-icon {
    display: inline;
    color: black;
}

@media only screen and (max-width: 1200px) {
    .liquid {
        display: none;
    }

    .col {
        display: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }
    .col {
        width: 0;
    }
    .row {
        display: flex;
        /*grid-template-columns: 0% 0%;*/
    }

    .form-box {
        /*width: 200px;*/
        margin: 0 auto;
    }
    /*
  .input-group {
    top: 150px;
    width: 280px;
    margin: 0px;
  }*/
}

.password-icon {
    font-size: 18px;
    float: right;
    position: sticky;
    margin: -36px 25px 0 0;
    cursor: pointer;
    display: inline;
}

.remember {
    /*margin: 28px 0 0 175px;*/
    color: #00aeffad;
    text-decoration: underline;
    font-size: 15px;
}

.remember-pass {
    color: #b1b1b1ad;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
}

.pasos {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    margin: 0 -30px 0 -30px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #38b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-white {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #ffffff;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-white p {
    font-size: 25px;
    font-weight: bolder;
    color: #000000;
    z-index: 1;
}

.circle p {
    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;
    z-index: 1;
}

.line {
    width: 60%;
    height: 5px;
    background-color: #38b6ff;
    position: absolute;
}

.opt-user {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-decoration: none;
} 

.opt-user a {
    text-decoration: none;
}

.sub-btn a {
    text-decoration: none;
}

.opt-user p {
    width: 300px;
    background-color: #38b6ff;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.opt-user p:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.preg {
    width: 100%;
    margin: 15px 0 0 0;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.parrafo {
    width: 100%;
    margin: 55px 0 0 0;
    font-size: 13px;
    text-align: center;
}

.img-bot {
    position: absolute;
    width: 500px;
    height: 600px;
    right: 0%;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bot img {
    width: 100%;
}

.bubble {
    background-color: #ffffff;
    width: 180px;
    height: 110px;
    margin: -280px 0 0 -300px;
    border-radius: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0%;
}

@keyframes bubble-in {
    0% {scale: 0%;}
    100% {scale: 100%;}
}

@keyframes bubble-out {
    0% {scale: 100%;}
    100% {scale: 0%;}
}

.bubble p {
    z-index: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    position: absolute;
}

.bubble .bubble-tail {
    width: 0; 
    height: 0; 
    border-left: 100px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 30px solid transparent;
    rotate: 60deg;
    position: absolute;
    margin: 80px 0 0 80px;
}

#txt-name {
    display: none;
}

#txt-ap {
    display: none;
}

#txt-am {
    display: none;
}

#txt-user {
    display: none;
}

#txt-pass {
    display: none;
}

#txt-clave {
    display: none;
}

#txt-check {
    display: none;
}

#txt-reg {
    display: none;
}

.footer-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 250px;
}

.comming {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #0000003b;
    transition: all 0.5s;
}

.alert-cont {
    width: 60%;
    height: 60%;
    border-radius: 30px;
    background-color: #ffffff;
}

.close {
    width: 100%;
    height: 10%;
} 

.c-btn {
    cursor: pointer;
    float: right;
    margin: 10px 20px 0 0;
    font-size: 50px;
}

.c-txt {
    float: left;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-txt p {
    background-color: #38b6ff;
    padding: 10px 50px 10px 50px;
    border-radius: 100px;
    font-size: 100px;
    font-weight: bolder;
}

.c-img {
    float: left;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.c-img1 {
    width: 30%;
    height: 80%;
    background-image: url("../../img/c-img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px 0 100px 0;
}

.c-img2 {
    width: 30%;
    height: 80%;
    background-image: url("../../img/c-img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 100px 0 100px;
}

.c-img3 {
    width: 30%;
    height: 80%;
    background-image: url("../../img/c-img3.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px 0 100px 0;
}

.nav {
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
}

.btn-nav {
    float: right;
    background-color: #38b6ff;
    font-size: 20px;
    margin: 10px 20px 0 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.btn-nav:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

#abrir {
    display: none;
}

#cerrar {
    display: none;
}

#prueba {
    display: none;
}

.term {
    font-size: 14px;
    color: #38b6ff;
}

@media screen and (max-width: 1200px) {
    .info-box {
        display: none;
    }

    .img-bot {
        display: none;
    }

    form .input-icon {
        display: none;
    }

    .form-box {
        border-radius: 30px;
        width: 90%;
    }

    .reg p {
        font-size: 20px;
    }
    
    .opt-user p {
        width: 290px;
        padding: 10px 10px 10px 10px;
    }

    .password-icon {
        position: absolute;
        margin: 18px 0 0 -30px;
    }
}

@media screen and (max-width: 830px) {
    .info-box {
        display: none;
    }

    .img-bot {
        display: none;
    }

    form .input-icon {
        display: none;
    }

    .form-box {
        border-radius: 30px;
        width: 90%;
    }

    .reg p {
        font-size: 20px;
    }
    
    .opt-user p {
        width: 290px;
        padding: 10px 10px 10px 10px;
    }

    .password-icon {
        position: absolute;
        margin: 18px 0 0 -30px;
    }

    .footer-logo {
        bottom: 2%;
        width: 150px;
    }
    
    .footer-logo img {
        width: 150px;
    }
}

/* Prueba gratuita */

.demo {
    position: fixed;
    display: flex;
    width: 85px;
    height: 85px;
    right: 3%;
    bottom: 5%;
    border-radius: 60px;
    background-color: #38b6ff;
    z-index: 10;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

.demo:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.hand {
    color: #ffffff;
    font-size: 50px;
    animation-name: hand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.demo-text {
    margin-top: -130px;
    border-radius: 30px;
    text-align: center;
    color: rgb(113, 113, 113);
    width: 200px;
    position: fixed;
    font-size: 22px;
    font-weight: bolder;
    scale: 0%;
    animation-name: alert;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}

@keyframes hand {
    0% {
        transform: rotate(-45deg);
        margin: 0 10px 0 -5px;
    }
    50% {
        transform: rotate(45deg);
        margin: 0 -10px 0 -5px;
    }
    100% {
        transform: rotate(-45deg);
        margin: 0 10px 0 -5px;
    }
}

@keyframes alert {
    0% {
        scale: 0%;
    }
    1.25% {
        scale: 110%;
    }
    2.5% {
        scale: 100%;
    }

    25% {
        transform: rotate(0deg);
    }
    25.5% {
        transform: rotate(-10deg);
    }
    26% {
        transform: rotate(10deg);
    }
    26.5% {
        transform: rotate(-10deg);
    }
    27% {
        transform: rotate(10deg);
    }
    27.5% {
        transform: rotate(-10deg);
    }
    28% {
        transform: rotate(10deg);
    }
    28.5% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(0deg);
    }
    75.5% {
        transform: rotate(-10deg);
    }
    76% {
        transform: rotate(10deg);
    }
    76.5% {
        transform: rotate(-10deg);
    }
    77% {
        transform: rotate(10deg);
    }
    77.5% {
        transform: rotate(-10deg);
    }
    78% {
        transform: rotate(10deg);
    }
    78.5% {
        transform: rotate(0deg);
    }

    87.5% {
        scale: 100%;
    }
    88.25% {
        scale: 110%;
    }
    90% {
        scale: 0%;
    }
    100% {
        scale: 0%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 100px;
    }

    body {
        overflow: auto;
    }

    .info-box {
        display: none;
    }

    .img-bot {
        display: none;
    }

    form .input-icon {
        display: none;
    }

    .form-box {
        border-radius: 30px;
        width: 90%;
    }

    .reg p {
        font-size: 20px;
    }
    
    .opt-user p {
        width: 290px;
        padding: 10px 10px 10px 10px;
    } 

    .password-icon {
        position: sticky;
        margin: -36px 25px 0 0;
    }

    .footer-logo {
        margin-top: 80px;
        width: 100%;
    }
    
    .footer-logo img {
        width: 100px;
    }

    .c-txt p {
        padding: 10px 10px 10px 10px;
        font-size: 20px;
    }

    .c-img1 {
        display: none;
    }

    .c-img2 {
        width: 90%;
        border-radius: 100px;
        background-image: url("../../img/Thumbs-Up.gif");
    }

    .c-img3 {
        display: none;
    }

    .nav {
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        left: -100%;
        transition: 0.5s;
        position: absolute;
    }

    .btn-nav {
        text-align: center;
        font-size: 25px;
        width: 250px;
    }

    #prueba {
        display: block;
    }

    #abrir {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
    }

    #cerrar {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        z-index: 10;
    }

    .demo {
        display: none;
    }
}