body {
  background-image: url(../img/bg1.png);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-left: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
  float: right;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.body-expanded {
  margin-left: 300px;
}

#sidemenu {
  background-image: url(../img/bg.png);
  color: black;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

#sidemenu a {
  color: black;
  text-decoration: none;
}
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px rgba(61, 172, 244);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}
#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: #84c42c;
}

#sidemenu #header #menu-btn .btn-hamburger {
  background-color: #1a3b54;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #profile {
  border-bottom: solid 1px rgba(61, 172, 244);
  padding: 10px 0;
  text-align: center;
}

#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0 auto;
}

#sidemenu.menu-collapsed #profile #photo img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

#sidemenu.menu-expanded #profile #photo img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 24px;
  padding: 10px 0;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: 300px;
}

#sidemenu #menu-items .item .icon {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-items .item .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidemenu #menu-items .item .icon img {
  width: 100%;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
  font-size: 20px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item a {
  display: block;
}

#sidemenu #menu-items .item a:hover {
  background: linear-gradient(
    90deg,
    rgba(61, 172, 244, 0.4) 19%,
    rgba(132, 196, 44, 0.4) 88%
  );
}

#sidemenu #menu-items .item .title {
  padding: 10px 0;
}

#sidemenu #menu-items .separator {
  height: 1px;
  border-bottom: solid 1px rgba(61, 172, 244);
  margin: 5px 0;
}

.menu-expanded {
  width: 300px;
  box-shadow: 0 0 10px black;
}

.menu-expanded #header #menu-btn {
  margin-left: 140px;
}
.menu-expanded #header #title {
  display: inline-block;
  width: calc(100%-50px);
  margin-right: -5px;
  padding: 10px;
}

.menu-expanded #header #title span {
  width: calc(300px - 50px - 5px);
  overflow: hidden;
}

.menu-expanded #profile #photo {
  width: 200px;
}
.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: 50px;
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

#interface {
  width: 100%;
}

#interface .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 15px 30px;
  box-shadow: 0 0 20px rgba(61, 172, 244, 0.6);
}

#interface .navigation .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #84c42c;
  border-radius: 4px;
  width: 700px;
}

#interface .navigation .search input {
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Tahoma;
  margin-left: 10px;
}

#interface .navigation .perfil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}

#interface .navigation .perfil i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

#interface .navigation .perfil img {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

.values .i-name {
  color: #1a3b54;
  padding: 20px 20px 20px 20px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  background: rgba(255, 255, 255, 0.8);
  width: 98%;
}

.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box {
  background: rgba(255, 255, 255, 0.8);
  width: 46%;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
}

.values .val-box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #1a3b54;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.7),
    rgba(132, 196, 44, 0.7)
  );
  margin-right: 15px;
  margin-right: 35px;
  margin-left: 35px;
}

.values .val-box h3 {
  font-size: 18px;
  font-weight: 600;
}

.values .val-box span {
  font-size: 15px;
  color: #1a3b54;
}

.accion a {
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
  color: #1a3b54;
  font-weight: 600;
}

@media (max-width: 477px) {
  #interface .navigation {
    padding: 15px;
  }
  #interface .navigation .search input {
    width: 150px;
  }
  .i-name {
    padding: 30px 15px 0 15px;
  }
  .values {
    padding: 15px 15px 0 15px;
  }
  .values .val-box {
    width: 100%;
    margin: 8px 0;
  }
  .board {
    margin: 30px 15px 30px 15px;
  }
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav li a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 3px 5px;
  display: block;
  font-size: small;
}

.nav li a:hover {
  color: rgba(61, 172, 244, 0.4);
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 120px;
}

.nav li:hover > ul {
  display: block;
}

.latd {
  position: relative;
  width: 56%;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 1.5%;
  height: auto;
  margin-bottom: 25px;
}

.latd .card {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 20%;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border: solid 1px rgba(61, 172, 244, 0.6);
  background-color: #fff;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
}
.latd .card a {
  text-decoration: none;
}
.titlec {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.latd .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 5px rgb(180, 180, 180);
}

.latd .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 750px) {
  .card {
    margin-top: 20px;
    width: 90%;
  }
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #191919;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #191919;
}

.text {
  position: relative;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 1.5s;
}

.card:hover .text {
  color: #191919;
}

.box svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.box svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #191919;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(7) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(8) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(9) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(10) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(11) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(12) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(13) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(14) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}
.card:nth-child(15) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #3dacf4;
}

.val-box {
  width: 100%;
  height: 340px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

canvas {
  border-color: #191919;
  width: 600px !important;
  height: 400px !important;
}

.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 100%;
  height: 17rem;
  border-radius: 0 0 20px 20px;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(132, 196, 44, 0.6);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #ffffff;
  background-color: #dfe5f2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  margin-top: 4px;
  width: 135%;
  height: 166px;
  position: relative;
  border-radius: 50%;
  margin-left: -17%;
}

.boton-avatar {
  position: absolute;
  right: 10px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.perfil-usuario-bio .boton-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: -2px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-usuario-header .upload {
  width: 125px;
  position: relative;
  margin: auto;
}

.perfil-usuario-header .upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 12px rgba(61, 172, 244);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.perfil-usuario-header .upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 90%;
  position: relative;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: black;
  font-size: 30px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: left;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 30%;
}

.seccion-perfil-usuario .lista-datos {
  width: 100%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
    width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 95%;
  }
}
@media (max-width: 750px) {
  .body .container1 {
    width: 95%;
  }
}
.body {
  display: flex;
  min-height: 56vh;
}

.container1 {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container1 .new-g {
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 500;
}

.container1 form .user-details1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details1 .input-box1 {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details1 .input-box1 .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details1 .input-box1 input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
}

.user-details1 .input-box1 select {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
  padding-left: 15px;
  font-size: 16px;
  font-family: Tahoma;
  transition: all 0.3s;
  border: none;
}

.user-details1 .input-box1 input:focus,
.user-details1 .input-box1 input:valid {
  border-color: #84c42c;
}

.board1 {
  width: 96%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  padding: 0;
  overflow-x: auto;
}

.board1 img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.board1 h5 {
  font-weight: 500;
  font-family: Tahoma;
  font-size: 14px;
}

.board1 p {
  font-weight: 400;
  font-size: 13px;
  color: #1a3b54;
}

.board1 .nombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}

body {
  color: #404040;
  font-family: Tahoma;
  background-image: url(../img/bg1.png);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body1::-webkit-scrollbar {
  -webkit-appearance: none;
}

body1::-webkit-scrollbar:vertical {
  width: 10px;
}

body1::-webkit-scrollbar-button:increment,
body1::-webkit-scrollbar-button {
  display: none;
}

body1::-webkit-scrollbar:horizontal {
  height: 10px;
}

body1::-webkit-scrollbar-thumb {
  background: rgba(129, 179, 243);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body1::-webkit-scrollbar-track {
  border-radius: 10px;
}

.lati {
  position: relative;
  width: 35%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  margin-left: 3%;
  margin-right: 1%;
  height: 100%;
}

.lati .dos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.lati .dos1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(61, 172, 244, 0.6);
  /*background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(255,255,255,.6) 56%, rgba(132,196,44,.4) 88%);*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin-top: 5%;
}

.lati .lista-datos {
  width: 100%;
  list-style: none;
}

.lati .lista-datos li {
  padding: 5px 0;
}

.lati .lista-datos li > .icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.btn-grd {
  width: 45%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 30px;
}

form .user-details1 .input-box1 {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details1 .input-box1 .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details1 .input-box1 input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
}

.user-details1 .input-box1 select {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.8);
  padding-left: 15px;
  font-size: 16px;
  font-family: Tahoma;
  transition: all 0.3s;
  border: none;
}

.user-details1 .input-box1 input:focus,
.user-details1 .input-box1 input:valid {
  border-color: #84c42c;
}

.boton-avatar {
  position: absolute;
  right: 10px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.boton-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: -2px;
  top: 20px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(132, 196, 44, 0.6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 12px rgba(61, 172, 244);
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

.btn-b {
  width: 5%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(129, 179, 243, 0.8),
    rgba(132, 196, 44, 0.8)
  );
  border: 0px;
  outline: none;
  border-radius: 50%;
  float: right;
}

.btne {
  width: 70%;
  padding: 5px 5px;
  cursor: pointer;
  display: block;
  margin: 0;
  background: rgba(129, 179, 243, 0.8);
  border: 0px;
  outline: none;
  border-radius: 20px;
}

.btn-b i {
  font-size: 25px;
}
