body{
    background-image: url(../img/bg1.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(129,179,243);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.body-expanded{
    margin-left: 300px;
}

#sidemenu{
    background-image: url(../img/bg.png);
    color: black;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}

#sidemenu a{
    color: black;
    text-decoration: none;
}
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px  rgba(61,172,244);
}

#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}

#sidemenu #header #menu-btn{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: #84c42c;
}

#sidemenu #header #menu-btn .btn-hamburger{
    background-color: #1a3b54;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

#sidemenu #profile{
    border-bottom: solid 1px rgba(61,172,244);
    padding: 10px 0;
    text-align: center;
}

#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: 10px 0;
    margin: 0 auto;
}

#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 90%;
}

#sidemenu.menu-collapsed  #profile #photo img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

#sidemenu.menu-expanded  #profile #photo img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: 10px 0;
    overflow: hidden;
}

#sidemenu #menu-items{
    overflow: hidden;
}

#sidemenu #menu-items .item{
    width: 300px;
}

#sidemenu #menu-items .item .icon{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 50px;
}

#sidemenu #menu-items .item .icon i{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidemenu #menu-items .item .icon img{
    width: 100%;
}

#sidemenu #menu-items .item .icon,#sidemenu #menu-items .item .title{
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a{
    display: block;
}

#sidemenu #menu-items .item a:hover{
    background: linear-gradient(90deg, rgba(61,172,244,.4) 19%, rgba(132,196,44,.4) 88%);
}

#sidemenu #menu-items .item .title{
    padding: 10px 0;
}

#sidemenu #menu-items .separator{
    height: 1px;
    border-bottom: solid 1px rgba(61,172,244);
    margin: 5px 0;
}

.menu-expanded{
    width: 300px;
    box-shadow: 0 0 10px black;
}

.menu-expanded #header #menu-btn{
    margin-left: 140px;
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100%-50px);
    margin-right: -5px;
    padding: 10px;
}

.menu-expanded #header #title span{
    width: calc(300px - 50px - 5px);
    overflow:hidden;
}

.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}

.menu-collapsed{
    width: 50px;
}

.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name{
    display: none;
}

.menu-collapsed .item{
    width: 100px;
}

#interface{
    width: 100%;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #1a3b54;
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #1a3b54;
    border-radius: 4px;
    width: 700px;
}

#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Tahoma;
    margin-left: 10px;
}

#interface .navigation .perfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

#interface .navigation .perfil i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .perfil img{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

.values .i-name{
    color: #1a3b54;
    padding: 20px 20px 20px 20px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px rgba(61,172,244,.6);
    background: rgba(255,255,255, .8);
    width: 98%;
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box{
    background: rgba(255,255,255, .8);
    width: 45%;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 12px rgba(61,172,244,.6);
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #1a3b54;
    background: linear-gradient(to right, rgba(129,179,243,.7), rgba(132,196,44,.7));
    margin-right: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color: #1a3b54;
}

.values .val-box .submit-btn{
    width: 350px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(129,179,243,.8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 30px;
    color: #1a3b54;
}

.board{
    width: 96%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: rgba(255,255,255, .8);
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(61,172,244,.6);
    padding: 0;
    overflow-x: auto;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5{
    font-weight: 500;
    font-family: Tahoma;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;
    color: #1a3b54;
}

.board .nombre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid rgba(61,172,244,.6);
}

thead td{
    font-size: 14px;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: #ffff;
    background: rgba(255,255,255, .8);
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.accion a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14px;
    color: #1a3b54;
    font-weight: 600;
}

@media (max-width:477px) {
    #interface .navigation{
        padding: 15px;
    }
    #interface .navigation .search input{
        width: 150px;
    }
    .i-name{
        padding: 30px 15px 0 15px;
    }
    .values{
        padding: 15px 15px 0 15px;
    }
    .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
    .board{
        margin: 30px 15px 30px 15px;

    }
}

#modalA::backdrop{
    background-color: rgba(0, 0, 0, .6);
}

#modalG::backdrop{
    background-color: rgba(0, 0, 0, .6);
}

.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.container .new-g{
    font-size: 30px;
    font-family: Tahoma;
    font-weight: 500;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/ 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 12px rgba(132,196,44, .8);
}

.user-details .input-box select{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(132,196,44, .8);
    padding-left: 15px;
    font-size: 16px;
    font-family: Tahoma;
    transition: all 0.3s;
    border: none;
}

.user-details .input-box input:focus, .user-details .input-box input:valid{
    border-color: #84c42c;
}

.btn-grd{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(129,179,243, .8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 30px;
}
.btn-b{
    width: 5%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(129,179,243, .8), rgba(132,196,44, .8));
    border: 0px;
    outline: none;
    border-radius: 50%;
    float: right;
}

.btne{
    width: 70%;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: 0;
    background: rgba(129,179,243, .8);
    border: 0px;
    outline: none;
    border-radius: 20px;
}

.btn-b i {
    font-size: 25px;

}

form{
    width: 98%;
    margin: auto;
    background: rgba(255,255,255, .8);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(61,172,244,.6);
}


dialog{
    border: none;
    background-image: url(../img/bg1.png);
    border-radius: 5px;  
}
